/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MmsCampaignsAPIService MmsCampaignsAPI service
type MmsCampaignsAPIService service

type ApiCalculateMmsCampaignPriceRequest struct {
	ctx context.Context
	ApiService *MmsCampaignsAPIService
	contentType *string
	body *map[string]interface{}
}

func (r ApiCalculateMmsCampaignPriceRequest) ContentType(contentType string) ApiCalculateMmsCampaignPriceRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCalculateMmsCampaignPriceRequest) Body(body map[string]interface{}) ApiCalculateMmsCampaignPriceRequest {
	r.body = &body
	return r
}

func (r ApiCalculateMmsCampaignPriceRequest) Execute() (*CalculateMmsCampaignPrice, *http.Response, error) {
	return r.ApiService.CalculateMmsCampaignPriceExecute(r)
}

/*
CalculateMmsCampaignPrice Calculate MMS Campaign Price

_Calculate price for mms campaign_

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| list_id | integer(int32) | true | none | Your list id. |
| name | string | true | none | Your campaign name. |
| body | string | true | none | Your campaign message. |
| from | string | true | [yes](http://help.clicksend.com/SMS/what-is-a-sender-id-or-sender-number) | Your sender id |
| schedule | integer(int32) | false | none | Your schedule timestamp. |
| subject | string | true | none | Subject of MMS campaign. |
| media_file | string | true | none | URL pointing to media file. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCalculateMmsCampaignPriceRequest
*/
func (a *MmsCampaignsAPIService) CalculateMmsCampaignPrice(ctx context.Context) ApiCalculateMmsCampaignPriceRequest {
	return ApiCalculateMmsCampaignPriceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CalculateMmsCampaignPrice
func (a *MmsCampaignsAPIService) CalculateMmsCampaignPriceExecute(r ApiCalculateMmsCampaignPriceRequest) (*CalculateMmsCampaignPrice, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CalculateMmsCampaignPrice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MmsCampaignsAPIService.CalculateMmsCampaignPrice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/mms-campaigns/price"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelMmsCampaignRequest struct {
	ctx context.Context
	ApiService *MmsCampaignsAPIService
	mmsCampaignId string
	contentType *string
	calculateSmsCampaignPriceRequest *CalculateSmsCampaignPriceRequest
}

func (r ApiCancelMmsCampaignRequest) ContentType(contentType string) ApiCancelMmsCampaignRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCancelMmsCampaignRequest) CalculateSmsCampaignPriceRequest(calculateSmsCampaignPriceRequest CalculateSmsCampaignPriceRequest) ApiCancelMmsCampaignRequest {
	r.calculateSmsCampaignPriceRequest = &calculateSmsCampaignPriceRequest
	return r
}

func (r ApiCancelMmsCampaignRequest) Execute() (*CancelMmsCampaign, *http.Response, error) {
	return r.ApiService.CancelMmsCampaignExecute(r)
}

/*
CancelMmsCampaign Cancel MMS Campaign

_Cancel mms campaign_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| mms_campaign_id | path | integer(int32) | true | ID of MMS Campaign to cancel |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mmsCampaignId
 @return ApiCancelMmsCampaignRequest
*/
func (a *MmsCampaignsAPIService) CancelMmsCampaign(ctx context.Context, mmsCampaignId string) ApiCancelMmsCampaignRequest {
	return ApiCancelMmsCampaignRequest{
		ApiService: a,
		ctx: ctx,
		mmsCampaignId: mmsCampaignId,
	}
}

// Execute executes the request
//  @return CancelMmsCampaign
func (a *MmsCampaignsAPIService) CancelMmsCampaignExecute(r ApiCancelMmsCampaignRequest) (*CancelMmsCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CancelMmsCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MmsCampaignsAPIService.CancelMmsCampaign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/mms-campaigns/{mms_campaign_id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"mms_campaign_id"+"}", url.PathEscape(parameterValueToString(r.mmsCampaignId, "mmsCampaignId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.calculateSmsCampaignPriceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSendMmsCampaignRequest struct {
	ctx context.Context
	ApiService *MmsCampaignsAPIService
	contentType *string
	sendMmsCampaignRequest *SendMmsCampaignRequest
}

func (r ApiSendMmsCampaignRequest) ContentType(contentType string) ApiSendMmsCampaignRequest {
	r.contentType = &contentType
	return r
}

func (r ApiSendMmsCampaignRequest) SendMmsCampaignRequest(sendMmsCampaignRequest SendMmsCampaignRequest) ApiSendMmsCampaignRequest {
	r.sendMmsCampaignRequest = &sendMmsCampaignRequest
	return r
}

func (r ApiSendMmsCampaignRequest) Execute() (*SendMmsCampaign, *http.Response, error) {
	return r.ApiService.SendMmsCampaignExecute(r)
}

/*
SendMmsCampaign Send MMS Campaign

_Create mms campaign_

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| list_id | integer(int32) | true | none | Your list id. |
| name | string | true | none | Your campaign name. |
| body | string | true | none | Your campaign message. |
| from | string | true | [yes](http://help.clicksend.com/SMS/what-is-a-sender-id-or-sender-number) | Your sender id |
| schedule | integer(int32) | false | none | Your schedule timestamp. |
| subject | string | true | none | Subject of MMS campaign. |
| media_file | string | true | none | URL pointing to media file. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSendMmsCampaignRequest
*/
func (a *MmsCampaignsAPIService) SendMmsCampaign(ctx context.Context) ApiSendMmsCampaignRequest {
	return ApiSendMmsCampaignRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SendMmsCampaign
func (a *MmsCampaignsAPIService) SendMmsCampaignExecute(r ApiSendMmsCampaignRequest) (*SendMmsCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SendMmsCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MmsCampaignsAPIService.SendMmsCampaign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/mms-campaigns/send"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.sendMmsCampaignRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateMmsCampaignRequest struct {
	ctx context.Context
	ApiService *MmsCampaignsAPIService
	mmsCampaignId string
	contentType *string
	calculateSmsCampaignPriceRequest *CalculateSmsCampaignPriceRequest
}

func (r ApiUpdateMmsCampaignRequest) ContentType(contentType string) ApiUpdateMmsCampaignRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateMmsCampaignRequest) CalculateSmsCampaignPriceRequest(calculateSmsCampaignPriceRequest CalculateSmsCampaignPriceRequest) ApiUpdateMmsCampaignRequest {
	r.calculateSmsCampaignPriceRequest = &calculateSmsCampaignPriceRequest
	return r
}

func (r ApiUpdateMmsCampaignRequest) Execute() (*UpdateMmsCampaign, *http.Response, error) {
	return r.ApiService.UpdateMmsCampaignExecute(r)
}

/*
UpdateMmsCampaign Update MMS Campaign

_Update mms campaign_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| mms_campaign_id | path | integer(int32) | true | ID of MMS campaign to update |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| list_id | integer(int32) | true | none | Your list id. |
| name | string | true | none | Your campaign name. |
| body | string | true | none | Your campaign message. |
| from | string | true | [yes](http://help.clicksend.com/SMS/what-is-a-sender-id-or-sender-number) | Your sender id |
| schedule | integer(int32) | false | none | Your schedule timestamp. |
| subject | string | true | none | Subject of MMS campaign. |
| media_file | string | true | none | URL pointing to media file. |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mmsCampaignId
 @return ApiUpdateMmsCampaignRequest
*/
func (a *MmsCampaignsAPIService) UpdateMmsCampaign(ctx context.Context, mmsCampaignId string) ApiUpdateMmsCampaignRequest {
	return ApiUpdateMmsCampaignRequest{
		ApiService: a,
		ctx: ctx,
		mmsCampaignId: mmsCampaignId,
	}
}

// Execute executes the request
//  @return UpdateMmsCampaign
func (a *MmsCampaignsAPIService) UpdateMmsCampaignExecute(r ApiUpdateMmsCampaignRequest) (*UpdateMmsCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateMmsCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MmsCampaignsAPIService.UpdateMmsCampaign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/mms-campaigns/{mms_campaign_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"mms_campaign_id"+"}", url.PathEscape(parameterValueToString(r.mmsCampaignId, "mmsCampaignId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.calculateSmsCampaignPriceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewAllMmsCampaignsRequest struct {
	ctx context.Context
	ApiService *MmsCampaignsAPIService
	contentType *string
}

func (r ApiViewAllMmsCampaignsRequest) ContentType(contentType string) ApiViewAllMmsCampaignsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewAllMmsCampaignsRequest) Execute() (*ViewAllMmsCampaigns, *http.Response, error) {
	return r.ApiService.ViewAllMmsCampaignsExecute(r)
}

/*
ViewAllMmsCampaigns View All MMS Campaigns

_Get list of mms campaigns_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| page | query | integer(int32) | false | [Page number](/#pagination) |
| limit | query | integer(int32) | false | [Number of records per page](/#pagination) |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewAllMmsCampaignsRequest
*/
func (a *MmsCampaignsAPIService) ViewAllMmsCampaigns(ctx context.Context) ApiViewAllMmsCampaignsRequest {
	return ApiViewAllMmsCampaignsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewAllMmsCampaigns
func (a *MmsCampaignsAPIService) ViewAllMmsCampaignsExecute(r ApiViewAllMmsCampaignsRequest) (*ViewAllMmsCampaigns, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewAllMmsCampaigns
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MmsCampaignsAPIService.ViewAllMmsCampaigns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/mms-campaigns"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewMmsCampaignRequest struct {
	ctx context.Context
	ApiService *MmsCampaignsAPIService
	mmsCampaignId string
	contentType *string
}

func (r ApiViewMmsCampaignRequest) ContentType(contentType string) ApiViewMmsCampaignRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewMmsCampaignRequest) Execute() (*ViewMmsCampaign, *http.Response, error) {
	return r.ApiService.ViewMmsCampaignExecute(r)
}

/*
ViewMmsCampaign View MMS Campaign

_Get specific mms campaign_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| mms_campaign_id | path | integer(int32) | true | ID of MMS campaign to retrieve |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mmsCampaignId
 @return ApiViewMmsCampaignRequest
*/
func (a *MmsCampaignsAPIService) ViewMmsCampaign(ctx context.Context, mmsCampaignId string) ApiViewMmsCampaignRequest {
	return ApiViewMmsCampaignRequest{
		ApiService: a,
		ctx: ctx,
		mmsCampaignId: mmsCampaignId,
	}
}

// Execute executes the request
//  @return ViewMmsCampaign
func (a *MmsCampaignsAPIService) ViewMmsCampaignExecute(r ApiViewMmsCampaignRequest) (*ViewMmsCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewMmsCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MmsCampaignsAPIService.ViewMmsCampaign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/mms-campaigns/{mms_campaign_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"mms_campaign_id"+"}", url.PathEscape(parameterValueToString(r.mmsCampaignId, "mmsCampaignId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
