/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SmsCampaignsAPIService SmsCampaignsAPI service
type SmsCampaignsAPIService service

type ApiCalculateSmsCampaignPriceRequest struct {
	ctx context.Context
	ApiService *SmsCampaignsAPIService
	contentType *string
	calculateSmsCampaignPriceRequest *CalculateSmsCampaignPriceRequest
}

func (r ApiCalculateSmsCampaignPriceRequest) ContentType(contentType string) ApiCalculateSmsCampaignPriceRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCalculateSmsCampaignPriceRequest) CalculateSmsCampaignPriceRequest(calculateSmsCampaignPriceRequest CalculateSmsCampaignPriceRequest) ApiCalculateSmsCampaignPriceRequest {
	r.calculateSmsCampaignPriceRequest = &calculateSmsCampaignPriceRequest
	return r
}

func (r ApiCalculateSmsCampaignPriceRequest) Execute() (*CalculateSmsCampaignPrice, *http.Response, error) {
	return r.ApiService.CalculateSmsCampaignPriceExecute(r)
}

/*
CalculateSmsCampaignPrice Calculate SMS Campaign Price

_Calculate price for sms campaign_

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| list_id | integer(int32) | true | none | Your list id. |
| name | string | true | none | Your campaign name. |
| body | string | true | none | Your campaign message. |
| from | string | true | [yes](http://help.clicksend.com/SMS/what-is-a-sender-id-or-sender-number) | Your sender id |
| schedule | integer(int32) | false | none | Your schedule timestamp. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCalculateSmsCampaignPriceRequest
*/
func (a *SmsCampaignsAPIService) CalculateSmsCampaignPrice(ctx context.Context) ApiCalculateSmsCampaignPriceRequest {
	return ApiCalculateSmsCampaignPriceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CalculateSmsCampaignPrice
func (a *SmsCampaignsAPIService) CalculateSmsCampaignPriceExecute(r ApiCalculateSmsCampaignPriceRequest) (*CalculateSmsCampaignPrice, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CalculateSmsCampaignPrice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsCampaignsAPIService.CalculateSmsCampaignPrice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms-campaigns/price"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.calculateSmsCampaignPriceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelSmsCampaignRequest struct {
	ctx context.Context
	ApiService *SmsCampaignsAPIService
	smsCampaignId string
	contentType *string
}

func (r ApiCancelSmsCampaignRequest) ContentType(contentType string) ApiCancelSmsCampaignRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCancelSmsCampaignRequest) Execute() (*CancelSmsCampaign, *http.Response, error) {
	return r.ApiService.CancelSmsCampaignExecute(r)
}

/*
CancelSmsCampaign Cancel SMS Campaign

Use this endpoint to cancel a scheduled SMS campaign.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param smsCampaignId ID of the scheduled SMS campaign to cancel.
 @return ApiCancelSmsCampaignRequest
*/
func (a *SmsCampaignsAPIService) CancelSmsCampaign(ctx context.Context, smsCampaignId string) ApiCancelSmsCampaignRequest {
	return ApiCancelSmsCampaignRequest{
		ApiService: a,
		ctx: ctx,
		smsCampaignId: smsCampaignId,
	}
}

// Execute executes the request
//  @return CancelSmsCampaign
func (a *SmsCampaignsAPIService) CancelSmsCampaignExecute(r ApiCancelSmsCampaignRequest) (*CancelSmsCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CancelSmsCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsCampaignsAPIService.CancelSmsCampaign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms-campaigns/{sms_campaign_id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"sms_campaign_id"+"}", url.PathEscape(parameterValueToString(r.smsCampaignId, "smsCampaignId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSendSmsCampaignRequest struct {
	ctx context.Context
	ApiService *SmsCampaignsAPIService
	contentType *string
	sendSmsCampaignRequest *SendSmsCampaignRequest
}

func (r ApiSendSmsCampaignRequest) ContentType(contentType string) ApiSendSmsCampaignRequest {
	r.contentType = &contentType
	return r
}

func (r ApiSendSmsCampaignRequest) SendSmsCampaignRequest(sendSmsCampaignRequest SendSmsCampaignRequest) ApiSendSmsCampaignRequest {
	r.sendSmsCampaignRequest = &sendSmsCampaignRequest
	return r
}

func (r ApiSendSmsCampaignRequest) Execute() (*SendSmsCampaign, *http.Response, error) {
	return r.ApiService.SendSmsCampaignExecute(r)
}

/*
SendSmsCampaign Send SMS Campaign

### _SMS Campaign Endpoint_

You can post to a list with `up to 20000 recipients` with each API call. You can only send to a single list containing up to 20,000 recipients. The response is far less detailed than the normal Send SMS endpoint. Use the [SMS Send](/#send-sms) endpoint if you would like to send to less than 1000 recipients at once.
You are required to add an opt-out message to the end of your message body if you are sending marketing message. This can be in the form of asking users to reply STOP to opt-out or by including `StopMsg.me/xxxxx` which is a placeholder that will add a link that can be clicked to out-out.
Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.
<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSendSmsCampaignRequest
*/
func (a *SmsCampaignsAPIService) SendSmsCampaign(ctx context.Context) ApiSendSmsCampaignRequest {
	return ApiSendSmsCampaignRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SendSmsCampaign
func (a *SmsCampaignsAPIService) SendSmsCampaignExecute(r ApiSendSmsCampaignRequest) (*SendSmsCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SendSmsCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsCampaignsAPIService.SendSmsCampaign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms-campaigns/send"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.sendSmsCampaignRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateSmsCampaignRequest struct {
	ctx context.Context
	ApiService *SmsCampaignsAPIService
	smsCampaignId string
	contentType *string
	calculateSmsCampaignPriceRequest *CalculateSmsCampaignPriceRequest
}

func (r ApiUpdateSmsCampaignRequest) ContentType(contentType string) ApiUpdateSmsCampaignRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateSmsCampaignRequest) CalculateSmsCampaignPriceRequest(calculateSmsCampaignPriceRequest CalculateSmsCampaignPriceRequest) ApiUpdateSmsCampaignRequest {
	r.calculateSmsCampaignPriceRequest = &calculateSmsCampaignPriceRequest
	return r
}

func (r ApiUpdateSmsCampaignRequest) Execute() (*UpdateSmsCampaign, *http.Response, error) {
	return r.ApiService.UpdateSmsCampaignExecute(r)
}

/*
UpdateSmsCampaign Update SMS Campaign

_Update sms campaign_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| sms_campaign_id | path | integer(int32) | true | ID of SMS campaign to update |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| list_id | integer(int32) | true | none | Your list id. |
| name | string | true | none | Your campaign name. |
| body | string | true | none | Your campaign message. |
| from | string | true | [yes](http://help.clicksend.com/SMS/what-is-a-sender-id-or-sender-number) | Your sender id |
| schedule | integer(int32) | false | none | Your schedule timestamp. |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param smsCampaignId
 @return ApiUpdateSmsCampaignRequest
*/
func (a *SmsCampaignsAPIService) UpdateSmsCampaign(ctx context.Context, smsCampaignId string) ApiUpdateSmsCampaignRequest {
	return ApiUpdateSmsCampaignRequest{
		ApiService: a,
		ctx: ctx,
		smsCampaignId: smsCampaignId,
	}
}

// Execute executes the request
//  @return UpdateSmsCampaign
func (a *SmsCampaignsAPIService) UpdateSmsCampaignExecute(r ApiUpdateSmsCampaignRequest) (*UpdateSmsCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateSmsCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsCampaignsAPIService.UpdateSmsCampaign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms-campaigns/{sms_campaign_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"sms_campaign_id"+"}", url.PathEscape(parameterValueToString(r.smsCampaignId, "smsCampaignId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.calculateSmsCampaignPriceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewSmsCampaignsRequest struct {
	ctx context.Context
	ApiService *SmsCampaignsAPIService
	contentType *string
	page *int32
	limit *int32
	q *string
	orderBy *string
	dateFrom *int32
	dateTo *int32
}

func (r ApiViewSmsCampaignsRequest) ContentType(contentType string) ApiViewSmsCampaignsRequest {
	r.contentType = &contentType
	return r
}

// The page number to retrieve. Use this parameter to navigate through the [pagination]/#pagination) results. The default value is 1.
func (r ApiViewSmsCampaignsRequest) Page(page int32) ApiViewSmsCampaignsRequest {
	r.page = &page
	return r
}

// The number of items to return per page. This parameter controls the size of each page of results. The default value is 15.
func (r ApiViewSmsCampaignsRequest) Limit(limit int32) ApiViewSmsCampaignsRequest {
	r.limit = &limit
	return r
}

// Allows filtering of results based on your search criteria. The query should be in the format &#x60;field_name:value&#x60;.  1. **Field Name**: The field within the SMS campaign you want to filter by. You can use the following fields:      - sms_campaign_id,name,user_id,subaccount_id,list_id,from,body,schedule,status,date_added,custom_string,url_to_shorten,unsubscribe_link,source   2. **Value**: The text or keyword you&#39;re searching for within the specified field. If left empty after the colon, the filter will look for all templates with any value in the **Field Name**.  For example, if you are searching for a SMS campaign with the status of _Scheduled_, the final query would look like this:    - &#x60;q&#x3D;status:Scheduled&#x60;  &lt;div class&#x3D;\&quot;info-box\&quot;&gt;   &lt;h4&gt;&lt;i class&#x3D;\&quot;fas fa-info-circle\&quot;&gt;&lt;/i&gt; Note:&lt;/h4&gt;   &lt;p&gt;   Some characters have to be encoded. For example, if you are searching for SMS sent from the phone number +61437085284, your search query q would be:&lt;br/&gt;    &lt;ul&gt;     &lt;li&gt;q&#x3D;from:%2B61437085284&lt;/li&gt;   &lt;/ul&gt;    You can use the &lt;a href&#x3D;\&quot;https://www.urlencoder.org/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;URL encoder&lt;/a&gt; to encode the text. If a character is not an alphanumeric character (A-Z, a-z, 0-9), it is typically either reserved or unsafe and should be encoded.      &lt;/p&gt; &lt;/div&gt;
func (r ApiViewSmsCampaignsRequest) Q(q string) ApiViewSmsCampaignsRequest {
	r.q = &q
	return r
}

// Specifies the field and order to sort the results by. The value is composed of the field name followed by a colon and the sort direction (_asc_ for ascending or _desc_ for descending).  The default sort order is by _date_added_ in ascending order. You can use the following fields:    - _name_: The name of the SMS campaign.   - _status_: The status of the SMS campaign.   - _schedule_: The schedule send date of the SMS campaign in the &lt;a href&#x3D;\&quot;http://help.clicksend.com/what-is-a-unix-timestamp\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Unix format&lt;/a&gt;.   - _from_: The sender of the SMS campaign.   - _date_added_: This is the date you created or updated the SMS campaign in the &lt;a href&#x3D;\&quot;http://help.clicksend.com/what-is-a-unix-timestamp\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Unix format&lt;/a&gt;.  For example, if you want to order by the most recently sent or scheduled SMS, you should sort by date in descending order. The query would look like this:    - &#x60;order_by&#x3D;schedule:desc&#x60;  &lt;div class&#x3D;\&quot;info-box\&quot;&gt;   &lt;h4&gt;&lt;i class&#x3D;\&quot;fas fa-info-circle\&quot;&gt;&lt;/i&gt; Note:&lt;/h4&gt;   &lt;p&gt;     You can also sort by these fields: &lt;br/&gt;     &lt;ul&gt;     &lt;li&gt;sms_campaign_id,user_id,subaccount_id,list_id,body,custom_string,url_to_shorten,unsubscribe_link, and source.&lt;/li&gt;   &lt;/ul&gt;   &lt;br/&gt;   But this is less common in practice.   &lt;/p&gt; &lt;/div&gt;
func (r ApiViewSmsCampaignsRequest) OrderBy(orderBy string) ApiViewSmsCampaignsRequest {
	r.orderBy = &orderBy
	return r
}

// Start date to filter results. It should be in &lt;a href&#x3D;\&quot;http://help.clicksend.com/what-is-a-unix-timestamp\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Unix format&lt;/a&gt;.
func (r ApiViewSmsCampaignsRequest) DateFrom(dateFrom int32) ApiViewSmsCampaignsRequest {
	r.dateFrom = &dateFrom
	return r
}

// End date to filter results. It should be in &lt;a href&#x3D;\&quot;http://help.clicksend.com/what-is-a-unix-timestamp\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Unix format&lt;/a&gt;.
func (r ApiViewSmsCampaignsRequest) DateTo(dateTo int32) ApiViewSmsCampaignsRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiViewSmsCampaignsRequest) Execute() (*ViewSmsCampaigns, *http.Response, error) {
	return r.ApiService.ViewSmsCampaignsExecute(r)
}

/*
ViewSmsCampaigns View SMS Campaigns

Use this endpoint to view SMS campaigns.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewSmsCampaignsRequest
*/
func (a *SmsCampaignsAPIService) ViewSmsCampaigns(ctx context.Context) ApiViewSmsCampaignsRequest {
	return ApiViewSmsCampaignsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewSmsCampaigns
func (a *SmsCampaignsAPIService) ViewSmsCampaignsExecute(r ApiViewSmsCampaignsRequest) (*ViewSmsCampaigns, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewSmsCampaigns
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsCampaignsAPIService.ViewSmsCampaigns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms-campaigns"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 15
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_from", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_to", r.dateTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewSpecificSmsCampaignRequest struct {
	ctx context.Context
	ApiService *SmsCampaignsAPIService
	smsCampaignId string
	contentType *string
}

func (r ApiViewSpecificSmsCampaignRequest) ContentType(contentType string) ApiViewSpecificSmsCampaignRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewSpecificSmsCampaignRequest) Execute() (*ViewSpecificSmsCampaign, *http.Response, error) {
	return r.ApiService.ViewSpecificSmsCampaignExecute(r)
}

/*
ViewSpecificSmsCampaign View Specific SMS Campaign

Use this endpoint to view a specific SMS campaign.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param smsCampaignId ID of SMS campaign to get
 @return ApiViewSpecificSmsCampaignRequest
*/
func (a *SmsCampaignsAPIService) ViewSpecificSmsCampaign(ctx context.Context, smsCampaignId string) ApiViewSpecificSmsCampaignRequest {
	return ApiViewSpecificSmsCampaignRequest{
		ApiService: a,
		ctx: ctx,
		smsCampaignId: smsCampaignId,
	}
}

// Execute executes the request
//  @return ViewSpecificSmsCampaign
func (a *SmsCampaignsAPIService) ViewSpecificSmsCampaignExecute(r ApiViewSpecificSmsCampaignRequest) (*ViewSpecificSmsCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewSpecificSmsCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsCampaignsAPIService.ViewSpecificSmsCampaign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms-campaigns/{sms_campaign_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"sms_campaign_id"+"}", url.PathEscape(parameterValueToString(r.smsCampaignId, "smsCampaignId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
