/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// FaxAPIService FaxAPI service
type FaxAPIService service

type ApiCalculateFaxPriceRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	contentType *string
	calculateFaxPriceRequest *CalculateFaxPriceRequest
}

func (r ApiCalculateFaxPriceRequest) ContentType(contentType string) ApiCalculateFaxPriceRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCalculateFaxPriceRequest) CalculateFaxPriceRequest(calculateFaxPriceRequest CalculateFaxPriceRequest) ApiCalculateFaxPriceRequest {
	r.calculateFaxPriceRequest = &calculateFaxPriceRequest
	return r
}

func (r ApiCalculateFaxPriceRequest) Execute() (*CalculateFaxPrice, *http.Response, error) {
	return r.ApiService.CalculateFaxPriceExecute(r)
}

/*
CalculateFaxPrice Calculate Fax Price

_Calculate Total Price for Fax Messages sent_

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| file_url | string | true | none | URL of file to send |
| source | string | true | none | Your method of sending e.g. 'wordpress', 'php', 'c#'. |
| to | string | true | none | Recipient fax number in [E.164](https://en.wikipedia.org/wiki/E.164) format. |
| list_id | integer(int32) | false | none | Your list ID if sending to a whole list. Can be used instead of 'to'. |
| from | string | true | [yes](http://help.clicksend.com/SMS/what-is-a-sender-id-or-sender-number) | Your sender id. Must be a valid fax number. |
| schedule | integer(int32) | false | none | Leave blank for immediate delivery. Your schedule time in unix format [http://help.clicksend.com/what-is-a-unix-timestamp](http://help.clicksend.com/what-is-a-unix-timestamp) |
| custom_string | string | false | none | Your reference. Will be passed back with all replies and delivery reports. |
| country | string | false | none | ISO alpha-2 character country code e.g. 'US', we use this to format the recipient number if it's not in international format. |
| from_email | string | false | none | An email address where the reply should be emailed to. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCalculateFaxPriceRequest
*/
func (a *FaxAPIService) CalculateFaxPrice(ctx context.Context) ApiCalculateFaxPriceRequest {
	return ApiCalculateFaxPriceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CalculateFaxPrice
func (a *FaxAPIService) CalculateFaxPriceExecute(r ApiCalculateFaxPriceRequest) (*CalculateFaxPrice, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CalculateFaxPrice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.CalculateFaxPrice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/fax/price"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.calculateFaxPriceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateFaxDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	contentType *string
	createFaxDeliveryReceiptRuleRequest *CreateFaxDeliveryReceiptRuleRequest
}

func (r ApiCreateFaxDeliveryReceiptRuleRequest) ContentType(contentType string) ApiCreateFaxDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateFaxDeliveryReceiptRuleRequest) CreateFaxDeliveryReceiptRuleRequest(createFaxDeliveryReceiptRuleRequest CreateFaxDeliveryReceiptRuleRequest) ApiCreateFaxDeliveryReceiptRuleRequest {
	r.createFaxDeliveryReceiptRuleRequest = &createFaxDeliveryReceiptRuleRequest
	return r
}

func (r ApiCreateFaxDeliveryReceiptRuleRequest) Execute() (*CreateFaxDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.CreateFaxDeliveryReceiptRuleExecute(r)
}

/*
CreateFaxDeliveryReceiptRule Create FAX Delivery Receipt Rule

_Create fax delivery receipt automations_

Create fax delivery receipt automations

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| rule_name | string | true | none | Rule Name. |
| match_type | number | true | none | Match Type. 0=All reports. |
| action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). |
| action_address | string | true | none | Action address. |
| enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateFaxDeliveryReceiptRuleRequest
*/
func (a *FaxAPIService) CreateFaxDeliveryReceiptRule(ctx context.Context) ApiCreateFaxDeliveryReceiptRuleRequest {
	return ApiCreateFaxDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateFaxDeliveryReceiptRule
func (a *FaxAPIService) CreateFaxDeliveryReceiptRuleExecute(r ApiCreateFaxDeliveryReceiptRuleRequest) (*CreateFaxDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateFaxDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.CreateFaxDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/fax/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createFaxDeliveryReceiptRuleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateFaxInboundRuleRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	contentType *string
	createFaxInboundRuleRequest *CreateFaxInboundRuleRequest
}

func (r ApiCreateFaxInboundRuleRequest) ContentType(contentType string) ApiCreateFaxInboundRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateFaxInboundRuleRequest) CreateFaxInboundRuleRequest(createFaxInboundRuleRequest CreateFaxInboundRuleRequest) ApiCreateFaxInboundRuleRequest {
	r.createFaxInboundRuleRequest = &createFaxInboundRuleRequest
	return r
}

func (r ApiCreateFaxInboundRuleRequest) Execute() (*CreateFaxInboundRule, *http.Response, error) {
	return r.ApiService.CreateFaxInboundRuleExecute(r)
}

/*
CreateFaxInboundRule Create Fax Inbound Rule

_Create new inbound fax automation_

Create new inbound fax automation

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| dedicated_number | string | true | none | Dedicated Number. Can be '\*' to apply to all numbers. |
| rule_name | string | true | none | Rule Name. |
| action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). |
| action_address | string | true | none | Action address. |
| enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateFaxInboundRuleRequest
*/
func (a *FaxAPIService) CreateFaxInboundRule(ctx context.Context) ApiCreateFaxInboundRuleRequest {
	return ApiCreateFaxInboundRuleRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateFaxInboundRule
func (a *FaxAPIService) CreateFaxInboundRuleExecute(r ApiCreateFaxInboundRuleRequest) (*CreateFaxInboundRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateFaxInboundRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.CreateFaxInboundRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/fax/inbound"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createFaxInboundRuleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteFaxDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	receiptRuleId string
	contentType *string
}

func (r ApiDeleteFaxDeliveryReceiptRuleRequest) ContentType(contentType string) ApiDeleteFaxDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDeleteFaxDeliveryReceiptRuleRequest) Execute() (*DeleteFaxDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.DeleteFaxDeliveryReceiptRuleExecute(r)
}

/*
DeleteFaxDeliveryReceiptRule Delete FAX Delivery Receipt Rule

_Delete fax delivery receipt automation_

Delete fax delivery receipt automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| receipt_rule_id | path | integer(int32) | true | Receipt rule id |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptRuleId
 @return ApiDeleteFaxDeliveryReceiptRuleRequest
*/
func (a *FaxAPIService) DeleteFaxDeliveryReceiptRule(ctx context.Context, receiptRuleId string) ApiDeleteFaxDeliveryReceiptRuleRequest {
	return ApiDeleteFaxDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
		receiptRuleId: receiptRuleId,
	}
}

// Execute executes the request
//  @return DeleteFaxDeliveryReceiptRule
func (a *FaxAPIService) DeleteFaxDeliveryReceiptRuleExecute(r ApiDeleteFaxDeliveryReceiptRuleRequest) (*DeleteFaxDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteFaxDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.DeleteFaxDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/fax/receipts/{receipt_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"receipt_rule_id"+"}", url.PathEscape(parameterValueToString(r.receiptRuleId, "receiptRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteFaxInboundRuleRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	inboundRuleId string
	contentType *string
}

func (r ApiDeleteFaxInboundRuleRequest) ContentType(contentType string) ApiDeleteFaxInboundRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDeleteFaxInboundRuleRequest) Execute() (*DeleteFaxInboundRule, *http.Response, error) {
	return r.ApiService.DeleteFaxInboundRuleExecute(r)
}

/*
DeleteFaxInboundRule Delete Fax Inbound Rule

_Delete inbound fax automation_

Delete inbound fax automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| inbound_rule_id | path | integer(int32) | true | Inbound rule id |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param inboundRuleId
 @return ApiDeleteFaxInboundRuleRequest
*/
func (a *FaxAPIService) DeleteFaxInboundRule(ctx context.Context, inboundRuleId string) ApiDeleteFaxInboundRuleRequest {
	return ApiDeleteFaxInboundRuleRequest{
		ApiService: a,
		ctx: ctx,
		inboundRuleId: inboundRuleId,
	}
}

// Execute executes the request
//  @return DeleteFaxInboundRule
func (a *FaxAPIService) DeleteFaxInboundRuleExecute(r ApiDeleteFaxInboundRuleRequest) (*DeleteFaxInboundRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteFaxInboundRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.DeleteFaxInboundRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/fax/inbound/{inbound_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"inbound_rule_id"+"}", url.PathEscape(parameterValueToString(r.inboundRuleId, "inboundRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSendFaxRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	contentType *string
	sendFaxRequest *SendFaxRequest
}

func (r ApiSendFaxRequest) ContentType(contentType string) ApiSendFaxRequest {
	r.contentType = &contentType
	return r
}

func (r ApiSendFaxRequest) SendFaxRequest(sendFaxRequest SendFaxRequest) ApiSendFaxRequest {
	r.sendFaxRequest = &sendFaxRequest
	return r
}

func (r ApiSendFaxRequest) Execute() (*SendFax, *http.Response, error) {
	return r.ApiService.SendFaxExecute(r)
}

/*
SendFax Send Fax

### **Supported File Types**

- Supported file types are listed below. If you need to convert a file to a supported format, it can be first passed to our uploads endpoint: `/uploads?convert=fax`
- This will return a URL to the converted pdf file that can be used in the /fax/send endpoint.
- Contact us to add support for any other file type.
    

### Documents

| File type | Required to be passed to uploads endpoint first? |
| --- | --- |
| pdf | No |
| docx | Yes |
| doc | Yes |
| rtf | Yes |

_Send a fax using supplied supported file-types._

### **Letter File Options**

### Use existing URL

With this option, you can use an existing URL to a `pdf` document. For example, you might generate the `pdf` on your server.

When using an existing url make sure that it is publicly accessible as it will not work if it is private.

### Upload File to Our Server

With this option, you can use the [/uploads](/#upload-media-file) endpoint to upload the document. The `/uploads` endpoint returns a URL that can be used in the `/fax/send` endpoint.

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| file_url | string | true | none | URL of file to send |
| source | string | true | none | Your method of sending e.g. 'wordpress', 'php', 'c#'. |
| to | string | true | none | Recipient fax number in [E.164](https://en.wikipedia.org/wiki/E.164) format. |
| list_id | integer(int32) | false | none | Your list ID if sending to a whole list. Can be used instead of 'to'. |
| from | string | true | [yes](http://help.clicksend.com/SMS/what-is-a-sender-id-or-sender-number) | Your sender id. Must be a valid fax number. |
| schedule | integer(int32) | false | none | Leave blank for immediate delivery. Your schedule time in unix format [http://help.clicksend.com/what-is-a-unix-timestamp](http://help.clicksend.com/what-is-a-unix-timestamp) |
| custom_string | string | false | none | Your reference. Will be passed back with all replies and delivery reports. |
| country | string | false | none | ISO alpha-2 character country code e.g. 'US', we use this to format the recipient number if it's not in international format. |
| from_email | string | false | none | An email address where the reply should be emailed to. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSendFaxRequest
*/
func (a *FaxAPIService) SendFax(ctx context.Context) ApiSendFaxRequest {
	return ApiSendFaxRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SendFax
func (a *FaxAPIService) SendFaxExecute(r ApiSendFaxRequest) (*SendFax, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SendFax
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.SendFax")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/fax/send"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.sendFaxRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateFaxDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	receiptRuleId string
	contentType *string
	updateFaxDeliveryReceiptRuleRequest *UpdateFaxDeliveryReceiptRuleRequest
}

func (r ApiUpdateFaxDeliveryReceiptRuleRequest) ContentType(contentType string) ApiUpdateFaxDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateFaxDeliveryReceiptRuleRequest) UpdateFaxDeliveryReceiptRuleRequest(updateFaxDeliveryReceiptRuleRequest UpdateFaxDeliveryReceiptRuleRequest) ApiUpdateFaxDeliveryReceiptRuleRequest {
	r.updateFaxDeliveryReceiptRuleRequest = &updateFaxDeliveryReceiptRuleRequest
	return r
}

func (r ApiUpdateFaxDeliveryReceiptRuleRequest) Execute() (*UpdateFaxDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.UpdateFaxDeliveryReceiptRuleExecute(r)
}

/*
UpdateFaxDeliveryReceiptRule Update FAX Delivery Receipt Rule

_Update fax delivery receipt automation_

Update fax delivery receipt automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| receipt_rule_id | path | integer(int32) | true | Receipt rule id |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| rule_name | string | true | none | Rule Name. |
| match_type | number | true | none | Match Type. 0=All reports. |
| action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). |
| action_address | string | true | none | Action address. |
| enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptRuleId
 @return ApiUpdateFaxDeliveryReceiptRuleRequest
*/
func (a *FaxAPIService) UpdateFaxDeliveryReceiptRule(ctx context.Context, receiptRuleId string) ApiUpdateFaxDeliveryReceiptRuleRequest {
	return ApiUpdateFaxDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
		receiptRuleId: receiptRuleId,
	}
}

// Execute executes the request
//  @return UpdateFaxDeliveryReceiptRule
func (a *FaxAPIService) UpdateFaxDeliveryReceiptRuleExecute(r ApiUpdateFaxDeliveryReceiptRuleRequest) (*UpdateFaxDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateFaxDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.UpdateFaxDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/fax/receipts/{receipt_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"receipt_rule_id"+"}", url.PathEscape(parameterValueToString(r.receiptRuleId, "receiptRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.updateFaxDeliveryReceiptRuleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateFaxInboundRuleRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	inboundRuleId string
	contentType *string
	createFaxInboundRuleRequest *CreateFaxInboundRuleRequest
}

func (r ApiUpdateFaxInboundRuleRequest) ContentType(contentType string) ApiUpdateFaxInboundRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateFaxInboundRuleRequest) CreateFaxInboundRuleRequest(createFaxInboundRuleRequest CreateFaxInboundRuleRequest) ApiUpdateFaxInboundRuleRequest {
	r.createFaxInboundRuleRequest = &createFaxInboundRuleRequest
	return r
}

func (r ApiUpdateFaxInboundRuleRequest) Execute() (*UpdateFaxInboundRule, *http.Response, error) {
	return r.ApiService.UpdateFaxInboundRuleExecute(r)
}

/*
UpdateFaxInboundRule Update Fax Inbound Rule

_Update inbound fax automation_

Update inbound fax automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| inbound_rule_id | path | integer(int32) | true | Inbound rule id |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| dedicated_number | string | true | none | Dedicated Number. Can be '\*' to apply to all numbers. |
| rule_name | string | true | none | Rule Name. |
| action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). |
| action_address | string | true | none | Action address. |
| enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param inboundRuleId
 @return ApiUpdateFaxInboundRuleRequest
*/
func (a *FaxAPIService) UpdateFaxInboundRule(ctx context.Context, inboundRuleId string) ApiUpdateFaxInboundRuleRequest {
	return ApiUpdateFaxInboundRuleRequest{
		ApiService: a,
		ctx: ctx,
		inboundRuleId: inboundRuleId,
	}
}

// Execute executes the request
//  @return UpdateFaxInboundRule
func (a *FaxAPIService) UpdateFaxInboundRuleExecute(r ApiUpdateFaxInboundRuleRequest) (*UpdateFaxInboundRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateFaxInboundRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.UpdateFaxInboundRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/fax/inbound/{inbound_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"inbound_rule_id"+"}", url.PathEscape(parameterValueToString(r.inboundRuleId, "inboundRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createFaxInboundRuleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewFaxDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	receiptRuleId string
	contentType *string
}

func (r ApiViewFaxDeliveryReceiptRuleRequest) ContentType(contentType string) ApiViewFaxDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewFaxDeliveryReceiptRuleRequest) Execute() (*ViewFaxDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.ViewFaxDeliveryReceiptRuleExecute(r)
}

/*
ViewFaxDeliveryReceiptRule View FAX Delivery Receipt Rule

_Get specific fax delivery receipt automation_

Get specific fax delivery receipt automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| receipt_rule_id | path | integer(int32) | true | Receipt rule id |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptRuleId
 @return ApiViewFaxDeliveryReceiptRuleRequest
*/
func (a *FaxAPIService) ViewFaxDeliveryReceiptRule(ctx context.Context, receiptRuleId string) ApiViewFaxDeliveryReceiptRuleRequest {
	return ApiViewFaxDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
		receiptRuleId: receiptRuleId,
	}
}

// Execute executes the request
//  @return ViewFaxDeliveryReceiptRule
func (a *FaxAPIService) ViewFaxDeliveryReceiptRuleExecute(r ApiViewFaxDeliveryReceiptRuleRequest) (*ViewFaxDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewFaxDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.ViewFaxDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/fax/receipts/{receipt_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"receipt_rule_id"+"}", url.PathEscape(parameterValueToString(r.receiptRuleId, "receiptRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewFaxDeliveryReceiptRulesRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	contentType *string
}

func (r ApiViewFaxDeliveryReceiptRulesRequest) ContentType(contentType string) ApiViewFaxDeliveryReceiptRulesRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewFaxDeliveryReceiptRulesRequest) Execute() (*ViewFaxDeliveryReceiptRules, *http.Response, error) {
	return r.ApiService.ViewFaxDeliveryReceiptRulesExecute(r)
}

/*
ViewFaxDeliveryReceiptRules View FAX Delivery Receipt Rules

_Get all fax delivery receipt automations_

Get all fax delivery receipt automations

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| page | query | integer(int32) | false | Page number |
| limit | query | integer(int32) | false | Number of records per page |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewFaxDeliveryReceiptRulesRequest
*/
func (a *FaxAPIService) ViewFaxDeliveryReceiptRules(ctx context.Context) ApiViewFaxDeliveryReceiptRulesRequest {
	return ApiViewFaxDeliveryReceiptRulesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewFaxDeliveryReceiptRules
func (a *FaxAPIService) ViewFaxDeliveryReceiptRulesExecute(r ApiViewFaxDeliveryReceiptRulesRequest) (*ViewFaxDeliveryReceiptRules, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewFaxDeliveryReceiptRules
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.ViewFaxDeliveryReceiptRules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/fax/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewFaxHistoryRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	contentType *string
}

func (r ApiViewFaxHistoryRequest) ContentType(contentType string) ApiViewFaxHistoryRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewFaxHistoryRequest) Execute() (*ViewFaxHistory, *http.Response, error) {
	return r.ApiService.ViewFaxHistoryExecute(r)
}

/*
ViewFaxHistory View Fax History

_Get a list of Fax History._

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| date_from | query | integer(int32) | false | Start date (Unix Timestamp e.g. 1436849372) |
| date_to | query | integer(int32) | false | End date (Unix Timestamp e.g. 1436879372) |
| q | query | string | false | Custom query Example: status:Sent,status_code:201. |
| order | query | string | false | Order result by Example: date_added:desc,list_id:desc. |
| page | query | integer(int32) | false | [Page number](/#pagination) |
| limit | query | integer(int32) | false | [Number of records per page](/#pagination) |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

This endpoint requires authentication, [more info...](/#authentication)


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewFaxHistoryRequest
*/
func (a *FaxAPIService) ViewFaxHistory(ctx context.Context) ApiViewFaxHistoryRequest {
	return ApiViewFaxHistoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewFaxHistory
func (a *FaxAPIService) ViewFaxHistoryExecute(r ApiViewFaxHistoryRequest) (*ViewFaxHistory, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewFaxHistory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.ViewFaxHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/fax/history"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewFaxInboundRuleRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	inboundRuleId string
	contentType *string
}

func (r ApiViewFaxInboundRuleRequest) ContentType(contentType string) ApiViewFaxInboundRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewFaxInboundRuleRequest) Execute() (*ViewFaxInboundRule, *http.Response, error) {
	return r.ApiService.ViewFaxInboundRuleExecute(r)
}

/*
ViewFaxInboundRule View Fax Inbound Rule

_Get specific inbound fax automation_

Get specific inbound fax automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| inbound_rule_id | path | integer(int32) | true | Inbound rule id |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param inboundRuleId
 @return ApiViewFaxInboundRuleRequest
*/
func (a *FaxAPIService) ViewFaxInboundRule(ctx context.Context, inboundRuleId string) ApiViewFaxInboundRuleRequest {
	return ApiViewFaxInboundRuleRequest{
		ApiService: a,
		ctx: ctx,
		inboundRuleId: inboundRuleId,
	}
}

// Execute executes the request
//  @return ViewFaxInboundRule
func (a *FaxAPIService) ViewFaxInboundRuleExecute(r ApiViewFaxInboundRuleRequest) (*ViewFaxInboundRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewFaxInboundRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.ViewFaxInboundRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/fax/inbound/{inbound_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"inbound_rule_id"+"}", url.PathEscape(parameterValueToString(r.inboundRuleId, "inboundRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewFaxInboundRulesRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	contentType *string
}

func (r ApiViewFaxInboundRulesRequest) ContentType(contentType string) ApiViewFaxInboundRulesRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewFaxInboundRulesRequest) Execute() (*ViewFaxInboundRules, *http.Response, error) {
	return r.ApiService.ViewFaxInboundRulesExecute(r)
}

/*
ViewFaxInboundRules View Fax Inbound Rules

_Get all inbound fax automations_

Get all inbound fax automations

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| page | query | integer(int32) | false | Page number |
| limit | query | integer(int32) | false | Number of records per page |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewFaxInboundRulesRequest
*/
func (a *FaxAPIService) ViewFaxInboundRules(ctx context.Context) ApiViewFaxInboundRulesRequest {
	return ApiViewFaxInboundRulesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewFaxInboundRules
func (a *FaxAPIService) ViewFaxInboundRulesExecute(r ApiViewFaxInboundRulesRequest) (*ViewFaxInboundRules, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewFaxInboundRules
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.ViewFaxInboundRules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/fax/inbound"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewFaxReceiptsRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	contentType *string
}

func (r ApiViewFaxReceiptsRequest) ContentType(contentType string) ApiViewFaxReceiptsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewFaxReceiptsRequest) Execute() (*ViewFaxReceipts, *http.Response, error) {
	return r.ApiService.ViewFaxReceiptsExecute(r)
}

/*
ViewFaxReceipts View Fax Receipts

_Get List of Fax Receipts_

**Push Delivery Receipts**

If you prefer, we can push message replies to your server as they arrive with us.

1. Log into your account.
2. Click on your profile on the top right.
3. Then click on the Messaging Settings option.
4. Click on Fax then Delivery Reports.
5. Click the 'Add New Rule' button.
6. Select the 'URL' action.
7. Enter the URL and click 'Save'.
    

The following variables will be posted to the URL specified:

| Variable | Description |
| --- | --- |
| `timestamp_send` | Timestamp of the original send request in UNIX format. e.g 1439173980 |
| `timestamp` | Timestamp of delivery report in UNIX format. e.g 1439173981 |
| `message_id` | Message ID, returned when originally sending the message. |
| `status` | Delivered or Undelivered |
| `status_code` | Status code. Refer to 'Fax Delivery Status Codes' in docs. |
| `status_text` | Status text. |
| `error_code` | Error code. |
| `error_text` | Error text. |
| `custom_string` | A custom string used when sending the original message. |
| `user_id` | The user ID of the user who sent the message. |
| `subaccount_id` | The subaccount ID of the user who sent the message. |
| `message_type` | 'fax' (constant). |

**Pull Delivery Receipts**

Receive delivery reports by polling. You can poll our server and retrieve delivery reports at a time that suits you.

1. Log into your account.
2. Click on your profile on the top right.
3. Then click on the Messaging Settings option.
4. Click on Fax then Delivery Rules.
5. Click the 'Add New Rule' button.
6. Select the 'Poll' action.
7. Then click 'Save'.
    

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewFaxReceiptsRequest
*/
func (a *FaxAPIService) ViewFaxReceipts(ctx context.Context) ApiViewFaxReceiptsRequest {
	return ApiViewFaxReceiptsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewFaxReceipts
func (a *FaxAPIService) ViewFaxReceiptsExecute(r ApiViewFaxReceiptsRequest) (*ViewFaxReceipts, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewFaxReceipts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.ViewFaxReceipts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/fax/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewSpecificFaxReceiptRequest struct {
	ctx context.Context
	ApiService *FaxAPIService
	messageId string
	contentType *string
}

func (r ApiViewSpecificFaxReceiptRequest) ContentType(contentType string) ApiViewSpecificFaxReceiptRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewSpecificFaxReceiptRequest) Execute() (*ViewSpecificFaxReceipt, *http.Response, error) {
	return r.ApiService.ViewSpecificFaxReceiptExecute(r)
}

/*
ViewSpecificFaxReceipt View Specific Fax Receipt

_Get a single fax receipt based on message id._

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| message_id | path | string | true | ID of the message receipt to retrieve |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param messageId
 @return ApiViewSpecificFaxReceiptRequest
*/
func (a *FaxAPIService) ViewSpecificFaxReceipt(ctx context.Context, messageId string) ApiViewSpecificFaxReceiptRequest {
	return ApiViewSpecificFaxReceiptRequest{
		ApiService: a,
		ctx: ctx,
		messageId: messageId,
	}
}

// Execute executes the request
//  @return ViewSpecificFaxReceipt
func (a *FaxAPIService) ViewSpecificFaxReceiptExecute(r ApiViewSpecificFaxReceiptRequest) (*ViewSpecificFaxReceipt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewSpecificFaxReceipt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaxAPIService.ViewSpecificFaxReceipt")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/fax/receipts/{message_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"message_id"+"}", url.PathEscape(parameterValueToString(r.messageId, "messageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
