/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SmsAPIService SmsAPI service
type SmsAPIService service

type ApiCalculateSmsPriceRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	calculateSmsPriceRequest *CalculateSmsPriceRequest
}

func (r ApiCalculateSmsPriceRequest) ContentType(contentType string) ApiCalculateSmsPriceRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCalculateSmsPriceRequest) CalculateSmsPriceRequest(calculateSmsPriceRequest CalculateSmsPriceRequest) ApiCalculateSmsPriceRequest {
	r.calculateSmsPriceRequest = &calculateSmsPriceRequest
	return r
}

func (r ApiCalculateSmsPriceRequest) Execute() (*CalculateSmsPrice, *http.Response, error) {
	return r.ApiService.CalculateSmsPriceExecute(r)
}

/*
CalculateSmsPrice Calculate SMS Price

Use this endpoint to calculate the price of sending messages. The cost of sending messages varies based on the <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms" target="_blank">type</a> and length of the message.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCalculateSmsPriceRequest
*/
func (a *SmsAPIService) CalculateSmsPrice(ctx context.Context) ApiCalculateSmsPriceRequest {
	return ApiCalculateSmsPriceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CalculateSmsPrice
func (a *SmsAPIService) CalculateSmsPriceExecute(r ApiCalculateSmsPriceRequest) (*CalculateSmsPrice, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CalculateSmsPrice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.CalculateSmsPrice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/price"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.calculateSmsPriceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelAllSmsRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	cancelAllSmsRequest *CancelAllSmsRequest
}

func (r ApiCancelAllSmsRequest) ContentType(contentType string) ApiCancelAllSmsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCancelAllSmsRequest) CancelAllSmsRequest(cancelAllSmsRequest CancelAllSmsRequest) ApiCancelAllSmsRequest {
	r.cancelAllSmsRequest = &cancelAllSmsRequest
	return r
}

func (r ApiCancelAllSmsRequest) Execute() (*CancelAllSms, *http.Response, error) {
	return r.ApiService.CancelAllSmsExecute(r)
}

/*
CancelAllSms Cancel All SMS

Use this endpoint to cancel all scheduled SMS. To cancel only one scheduled SMS, use the **Cancel SMS** endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCancelAllSmsRequest
*/
func (a *SmsAPIService) CancelAllSms(ctx context.Context) ApiCancelAllSmsRequest {
	return ApiCancelAllSmsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CancelAllSms
func (a *SmsAPIService) CancelAllSmsExecute(r ApiCancelAllSmsRequest) (*CancelAllSms, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CancelAllSms
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.CancelAllSms")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/cancel-all"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.cancelAllSmsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelSmsRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	messageId string
	contentType *string
}

func (r ApiCancelSmsRequest) ContentType(contentType string) ApiCancelSmsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCancelSmsRequest) Execute() (*CancelSms, *http.Response, error) {
	return r.ApiService.CancelSmsExecute(r)
}

/*
CancelSms Cancel SMS

Use this endpoint to cancel a specific scheduled SMS. Unlike the **Cancel All SMS** endpoint, which cancels all scheduled SMS, this endpoint only cancels one specified scheduled SMS. 
Specify the scheduled SMS to cancel by providing its _message_id_.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param messageId The _message_id_ of the scheduled SMS to cancel.
 @return ApiCancelSmsRequest
*/
func (a *SmsAPIService) CancelSms(ctx context.Context, messageId string) ApiCancelSmsRequest {
	return ApiCancelSmsRequest{
		ApiService: a,
		ctx: ctx,
		messageId: messageId,
	}
}

// Execute executes the request
//  @return CancelSms
func (a *SmsAPIService) CancelSmsExecute(r ApiCancelSmsRequest) (*CancelSms, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CancelSms
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.CancelSms")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/{message_id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"message_id"+"}", url.PathEscape(parameterValueToString(r.messageId, "messageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateSmsDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	createSmsDeliveryReceiptRuleRequest *CreateSmsDeliveryReceiptRuleRequest
}

func (r ApiCreateSmsDeliveryReceiptRuleRequest) ContentType(contentType string) ApiCreateSmsDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateSmsDeliveryReceiptRuleRequest) CreateSmsDeliveryReceiptRuleRequest(createSmsDeliveryReceiptRuleRequest CreateSmsDeliveryReceiptRuleRequest) ApiCreateSmsDeliveryReceiptRuleRequest {
	r.createSmsDeliveryReceiptRuleRequest = &createSmsDeliveryReceiptRuleRequest
	return r
}

func (r ApiCreateSmsDeliveryReceiptRuleRequest) Execute() (*CreateSmsDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.CreateSmsDeliveryReceiptRuleExecute(r)
}

/*
CreateSmsDeliveryReceiptRule Create SMS Delivery Receipt Rule

_Create sms delivery receipt automations_

Create sms delivery receipt automations

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| rule_name | string | true | none | Rule Name. |
| match_type | number | true | none | Match Type. 0=All reports. |
| action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). |
| action_address | string | true | none | Action address. |
| enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSmsDeliveryReceiptRuleRequest
*/
func (a *SmsAPIService) CreateSmsDeliveryReceiptRule(ctx context.Context) ApiCreateSmsDeliveryReceiptRuleRequest {
	return ApiCreateSmsDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateSmsDeliveryReceiptRule
func (a *SmsAPIService) CreateSmsDeliveryReceiptRuleExecute(r ApiCreateSmsDeliveryReceiptRuleRequest) (*CreateSmsDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSmsDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.CreateSmsDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/sms/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createSmsDeliveryReceiptRuleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateSmsInboundAutomationRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	createSmsInboundAutomationRequest *CreateSmsInboundAutomationRequest
}

func (r ApiCreateSmsInboundAutomationRequest) ContentType(contentType string) ApiCreateSmsInboundAutomationRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateSmsInboundAutomationRequest) CreateSmsInboundAutomationRequest(createSmsInboundAutomationRequest CreateSmsInboundAutomationRequest) ApiCreateSmsInboundAutomationRequest {
	r.createSmsInboundAutomationRequest = &createSmsInboundAutomationRequest
	return r
}

func (r ApiCreateSmsInboundAutomationRequest) Execute() (*CreateSmsInboundAutomation, *http.Response, error) {
	return r.ApiService.CreateSmsInboundAutomationExecute(r)
}

/*
CreateSmsInboundAutomation Create SMS Inbound Automation

_Create new inbound sms automation_

Create new inbound sms automation

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| dedicated_number | string | true | none | Decicated Number. Can be '\*' to apply to all numbers. |
| rule_name | string | true | none | Rule Name. |
| message_search_type | number | true | none | Message Search Type: 0=Any message, 1=starts with, 2=contains, 3=does not contain. |
| message_search_term | string | true | none | Message search term. |
| action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). |
| action_address | string | true | none | Action address. |
| enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |
| webhook_type | string | false | Required when action = URL only | Set as post, get, or json to change the format of the request sent. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSmsInboundAutomationRequest
*/
func (a *SmsAPIService) CreateSmsInboundAutomation(ctx context.Context) ApiCreateSmsInboundAutomationRequest {
	return ApiCreateSmsInboundAutomationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateSmsInboundAutomation
func (a *SmsAPIService) CreateSmsInboundAutomationExecute(r ApiCreateSmsInboundAutomationRequest) (*CreateSmsInboundAutomation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSmsInboundAutomation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.CreateSmsInboundAutomation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/sms/inbound"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createSmsInboundAutomationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateSmsTemplateRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	createSmsTemplateRequest *CreateSmsTemplateRequest
}

func (r ApiCreateSmsTemplateRequest) ContentType(contentType string) ApiCreateSmsTemplateRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateSmsTemplateRequest) CreateSmsTemplateRequest(createSmsTemplateRequest CreateSmsTemplateRequest) ApiCreateSmsTemplateRequest {
	r.createSmsTemplateRequest = &createSmsTemplateRequest
	return r
}

func (r ApiCreateSmsTemplateRequest) Execute() (*CreateSmsTemplate, *http.Response, error) {
	return r.ApiService.CreateSmsTemplateExecute(r)
}

/*
CreateSmsTemplate Create SMS Template

Use this endpoint to create a SMS template that you can use for sending SMS.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSmsTemplateRequest
*/
func (a *SmsAPIService) CreateSmsTemplate(ctx context.Context) ApiCreateSmsTemplateRequest {
	return ApiCreateSmsTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateSmsTemplate
func (a *SmsAPIService) CreateSmsTemplateExecute(r ApiCreateSmsTemplateRequest) (*CreateSmsTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSmsTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.CreateSmsTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createSmsTemplateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateTestInboundSmsRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	createTestInboundSmsRequest *CreateTestInboundSmsRequest
}

func (r ApiCreateTestInboundSmsRequest) ContentType(contentType string) ApiCreateTestInboundSmsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateTestInboundSmsRequest) CreateTestInboundSmsRequest(createTestInboundSmsRequest CreateTestInboundSmsRequest) ApiCreateTestInboundSmsRequest {
	r.createTestInboundSmsRequest = &createTestInboundSmsRequest
	return r
}

func (r ApiCreateTestInboundSmsRequest) Execute() (*CreateTestInboundSms, *http.Response, error) {
	return r.ApiService.CreateTestInboundSmsExecute(r)
}

/*
CreateTestInboundSms Create Test Inbound SMS

Use this endpoint to generate and send a test <a href="https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url" target="_blank">inbound SMS</a> to your webhook URL. Inbound SMS are messages sent by your recipient to you. 
This test endpoint allows you to verify that the inbound SMS is correctly sent to your webhook URL.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateTestInboundSmsRequest
*/
func (a *SmsAPIService) CreateTestInboundSms(ctx context.Context) ApiCreateTestInboundSmsRequest {
	return ApiCreateTestInboundSmsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateTestInboundSms
func (a *SmsAPIService) CreateTestInboundSmsExecute(r ApiCreateTestInboundSmsRequest) (*CreateTestInboundSms, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateTestInboundSms
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.CreateTestInboundSms")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/inbound"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createTestInboundSmsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateTestSmsReceiptRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	createTestSmsReceiptRequest *CreateTestSmsReceiptRequest
}

func (r ApiCreateTestSmsReceiptRequest) ContentType(contentType string) ApiCreateTestSmsReceiptRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateTestSmsReceiptRequest) CreateTestSmsReceiptRequest(createTestSmsReceiptRequest CreateTestSmsReceiptRequest) ApiCreateTestSmsReceiptRequest {
	r.createTestSmsReceiptRequest = &createTestSmsReceiptRequest
	return r
}

func (r ApiCreateTestSmsReceiptRequest) Execute() (*CreateTestSmsReceipt, *http.Response, error) {
	return r.ApiService.CreateTestSmsReceiptExecute(r)
}

/*
CreateTestSmsReceipt Create Test SMS Receipt

Use this endpoint to generate and send a test <a href="https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates" target="_blank">SMS delivery receipt</a> to your webhook URL. When you send an SMS, a delivery receipt is generated and can be received at your webhook URL. This test endpoint allows you to verify that the receipt is correctly sent to your webhook URL.

Additionally, you can obtain SMS receipts by setting the webhook URL to **poll** and periodically calling the **View SMS Receipt** endpoint to check for new receipts. This process is known as _polling_.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateTestSmsReceiptRequest
*/
func (a *SmsAPIService) CreateTestSmsReceipt(ctx context.Context) ApiCreateTestSmsReceiptRequest {
	return ApiCreateTestSmsReceiptRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateTestSmsReceipt
func (a *SmsAPIService) CreateTestSmsReceiptExecute(r ApiCreateTestSmsReceiptRequest) (*CreateTestSmsReceipt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateTestSmsReceipt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.CreateTestSmsReceipt")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createTestSmsReceiptRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteSmsDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	receiptRuleId string
	contentType *string
}

func (r ApiDeleteSmsDeliveryReceiptRuleRequest) ContentType(contentType string) ApiDeleteSmsDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDeleteSmsDeliveryReceiptRuleRequest) Execute() (*DeleteSmsDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.DeleteSmsDeliveryReceiptRuleExecute(r)
}

/*
DeleteSmsDeliveryReceiptRule Delete SMS Delivery Receipt Rule

_Delete sms delivery receipt automation_

Delete sms delivery receipt automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| receipt_rule_id | path | integer(int32) | true | Receipt rule id |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptRuleId
 @return ApiDeleteSmsDeliveryReceiptRuleRequest
*/
func (a *SmsAPIService) DeleteSmsDeliveryReceiptRule(ctx context.Context, receiptRuleId string) ApiDeleteSmsDeliveryReceiptRuleRequest {
	return ApiDeleteSmsDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
		receiptRuleId: receiptRuleId,
	}
}

// Execute executes the request
//  @return DeleteSmsDeliveryReceiptRule
func (a *SmsAPIService) DeleteSmsDeliveryReceiptRuleExecute(r ApiDeleteSmsDeliveryReceiptRuleRequest) (*DeleteSmsDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteSmsDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.DeleteSmsDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/sms/receipts/{receipt_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"receipt_rule_id"+"}", url.PathEscape(parameterValueToString(r.receiptRuleId, "receiptRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteSmsInboundAutomationRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	inboundRuleId string
	contentType *string
}

func (r ApiDeleteSmsInboundAutomationRequest) ContentType(contentType string) ApiDeleteSmsInboundAutomationRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDeleteSmsInboundAutomationRequest) Execute() (*DeleteSmsInboundAutomation, *http.Response, error) {
	return r.ApiService.DeleteSmsInboundAutomationExecute(r)
}

/*
DeleteSmsInboundAutomation Delete SMS Inbound Automation

_Delete inbound sms automation_

Delete inbound sms automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| inbound_rule_id | path | integer(int32) | true | Inbound rule id |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param inboundRuleId
 @return ApiDeleteSmsInboundAutomationRequest
*/
func (a *SmsAPIService) DeleteSmsInboundAutomation(ctx context.Context, inboundRuleId string) ApiDeleteSmsInboundAutomationRequest {
	return ApiDeleteSmsInboundAutomationRequest{
		ApiService: a,
		ctx: ctx,
		inboundRuleId: inboundRuleId,
	}
}

// Execute executes the request
//  @return DeleteSmsInboundAutomation
func (a *SmsAPIService) DeleteSmsInboundAutomationExecute(r ApiDeleteSmsInboundAutomationRequest) (*DeleteSmsInboundAutomation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteSmsInboundAutomation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.DeleteSmsInboundAutomation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/sms/inbound/{inbound_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"inbound_rule_id"+"}", url.PathEscape(parameterValueToString(r.inboundRuleId, "inboundRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteSmsTemplateRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	templateId string
	contentType *string
}

func (r ApiDeleteSmsTemplateRequest) ContentType(contentType string) ApiDeleteSmsTemplateRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDeleteSmsTemplateRequest) Execute() (*DeleteSmsTemplate, *http.Response, error) {
	return r.ApiService.DeleteSmsTemplateExecute(r)
}

/*
DeleteSmsTemplate Delete SMS Template

Use this endpoint to delete a <a href="https://help.clicksend.com/article/9z9uloaz8y-sms-templates-for-different-industries" target="_blank">SMS template</a>. Specify the SMS template to delete by providing its _template_id_.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param templateId The ID of the template to delete.
 @return ApiDeleteSmsTemplateRequest
*/
func (a *SmsAPIService) DeleteSmsTemplate(ctx context.Context, templateId string) ApiDeleteSmsTemplateRequest {
	return ApiDeleteSmsTemplateRequest{
		ApiService: a,
		ctx: ctx,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return DeleteSmsTemplate
func (a *SmsAPIService) DeleteSmsTemplateExecute(r ApiDeleteSmsTemplateRequest) (*DeleteSmsTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteSmsTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.DeleteSmsTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/templates/{template_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"template_id"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportSmsHistoryRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	filename *string
	page *int32
	limit *int32
	q *string
	orderBy *string
	dateFrom *int32
	dateTo *int32
}

func (r ApiExportSmsHistoryRequest) ContentType(contentType string) ApiExportSmsHistoryRequest {
	r.contentType = &contentType
	return r
}

// The filename of the result. It should be in the .csv format.
func (r ApiExportSmsHistoryRequest) Filename(filename string) ApiExportSmsHistoryRequest {
	r.filename = &filename
	return r
}

// The page number to retrieve. Use this parameter to navigate through the [pagination](/#pagination) results. The default value is 1.
func (r ApiExportSmsHistoryRequest) Page(page int32) ApiExportSmsHistoryRequest {
	r.page = &page
	return r
}

// The number of items to return per page. This parameter controls the size of each page of results. The default value is 15.
func (r ApiExportSmsHistoryRequest) Limit(limit int32) ApiExportSmsHistoryRequest {
	r.limit = &limit
	return r
}

// Allows filtering of results based on your search criteria. The query should be in the format &#x60;field_name:value&#x60;.  1. **Field Name**: The field within the SMS history you want to filter by. You can use the following fields:          - _Status_: The status of the SMS. Available values for status are: Queued, Completed, Scheduled, WaitApproval, Failed, Cancelled, CancelledAfterReview, Received, Sent.              - _To_: The recipient of the SMS.              - _from_: The sender of the SMS.              - _subaccount_id_: The sub-account identifier.              - _message_id_: The ID of your SMS.          2. **Value**: The text or keyword you&#39;re searching for within the specified field. If left empty after the colon, the filter will look for all templates with any value in the **Field Name**.             For example, if you are searching for a SMS with the status of _Scheduled_, the final query would look like this:    &#x60;q&#x3D;status:Scheduled&#x60;  &lt;div class&#x3D;\&quot;info-box\&quot;&gt;   &lt;h4&gt;&lt;i class&#x3D;\&quot;fas fa-info-circle\&quot;&gt;&lt;/i&gt; Note:&lt;/h4&gt;   &lt;div&gt;   &lt;p&gt;Some characters have to be encoded. For example, if you are searching for SMS sent from the phone number +61437085284, your search query q would be:&lt;br/&gt;&lt;/p&gt;     &lt;ul&gt;       &lt;li&gt;q&#x3D;from:%2B61437085284&lt;/li&gt;     &lt;/ul&gt;     &lt;p&gt;You can use the &lt;a href&#x3D;\&quot;https://www.urlencoder.org/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;URL encoder&lt;/a&gt; to encode the text. If a character is not an alphanumeric character (A-Z, a-z, 0-9), it is typically either reserved or unsafe and should be encoded.&lt;/p&gt;   &lt;/div&gt; &lt;/div&gt;
func (r ApiExportSmsHistoryRequest) Q(q string) ApiExportSmsHistoryRequest {
	r.q = &q
	return r
}

// Specifies the field and order to sort the results by. The value is composed of the field name followed by a colon and the sort direction (asc for ascending or desc for descending).  The default sort order is by date in ascending order. You can use the following fields:    - _date_    - _username_   - _from_    - _to_   - _status_    - _body_  For example, if you want to order by the most recently sent SMS, you should sort by date in descending order. The query would look like this:    &#x60;order_by&#x3D;date:desc&#x60;
func (r ApiExportSmsHistoryRequest) OrderBy(orderBy string) ApiExportSmsHistoryRequest {
	r.orderBy = &orderBy
	return r
}

// Start date to filter results. It should be in &lt;a href&#x3D;\&quot;http://help.clicksend.com/what-is-a-unix-timestamp\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Unix format&lt;/a&gt;.
func (r ApiExportSmsHistoryRequest) DateFrom(dateFrom int32) ApiExportSmsHistoryRequest {
	r.dateFrom = &dateFrom
	return r
}

// End date to filter results. It should be in &lt;a href&#x3D;\&quot;http://help.clicksend.com/what-is-a-unix-timestamp\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Unix format&lt;/a&gt;.
func (r ApiExportSmsHistoryRequest) DateTo(dateTo int32) ApiExportSmsHistoryRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiExportSmsHistoryRequest) Execute() (*ExportSmsHistory, *http.Response, error) {
	return r.ApiService.ExportSmsHistoryExecute(r)
}

/*
ExportSmsHistory Export SMS History

Use this endpoint to create a download link of your SMS history. You can filter the SMS history result using the query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExportSmsHistoryRequest
*/
func (a *SmsAPIService) ExportSmsHistory(ctx context.Context) ApiExportSmsHistoryRequest {
	return ApiExportSmsHistoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ExportSmsHistory
func (a *SmsAPIService) ExportSmsHistoryExecute(r ApiExportSmsHistoryRequest) (*ExportSmsHistory, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExportSmsHistory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.ExportSmsHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/history/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filename != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	} else {
		var defaultValue string = "export.csv"
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename", defaultValue, "form", "")
		r.filename = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 15
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	} else {
		var defaultValue string = "field_name"
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", defaultValue, "form", "")
		r.q = &defaultValue
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	} else {
		var defaultValue string = "date:asc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", defaultValue, "form", "")
		r.orderBy = &defaultValue
	}
	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_from", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_to", r.dateTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMarkInboundSmsAsReadRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	markSmsReceiptAsReadRequest *MarkSmsReceiptAsReadRequest
}

func (r ApiMarkInboundSmsAsReadRequest) ContentType(contentType string) ApiMarkInboundSmsAsReadRequest {
	r.contentType = &contentType
	return r
}

func (r ApiMarkInboundSmsAsReadRequest) MarkSmsReceiptAsReadRequest(markSmsReceiptAsReadRequest MarkSmsReceiptAsReadRequest) ApiMarkInboundSmsAsReadRequest {
	r.markSmsReceiptAsReadRequest = &markSmsReceiptAsReadRequest
	return r
}

func (r ApiMarkInboundSmsAsReadRequest) Execute() (*MarkInboundSmsAsRead, *http.Response, error) {
	return r.ApiService.MarkInboundSmsAsReadExecute(r)
}

/*
MarkInboundSmsAsRead Mark Inbound SMS as Read

Use this endpoint to mark all <a href="https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url" target="_blank">inbound SMS</a> as read. Inbound SMS that has been marked as read won’t be shown in the **View Inbound SMS** endpoint. You can still use the **View Specific Inbound SMS** endpoint to view inbound SMS marked as read. 
In the request, you can optionally add a _date_before_ parameter to only mark inbound SMS sent before that date as read.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMarkInboundSmsAsReadRequest
*/
func (a *SmsAPIService) MarkInboundSmsAsRead(ctx context.Context) ApiMarkInboundSmsAsReadRequest {
	return ApiMarkInboundSmsAsReadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MarkInboundSmsAsRead
func (a *SmsAPIService) MarkInboundSmsAsReadExecute(r ApiMarkInboundSmsAsReadRequest) (*MarkInboundSmsAsRead, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MarkInboundSmsAsRead
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.MarkInboundSmsAsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/inbound-read"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.markSmsReceiptAsReadRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMarkSmsReceiptAsReadRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	markSmsReceiptAsReadRequest *MarkSmsReceiptAsReadRequest
}

func (r ApiMarkSmsReceiptAsReadRequest) ContentType(contentType string) ApiMarkSmsReceiptAsReadRequest {
	r.contentType = &contentType
	return r
}

func (r ApiMarkSmsReceiptAsReadRequest) MarkSmsReceiptAsReadRequest(markSmsReceiptAsReadRequest MarkSmsReceiptAsReadRequest) ApiMarkSmsReceiptAsReadRequest {
	r.markSmsReceiptAsReadRequest = &markSmsReceiptAsReadRequest
	return r
}

func (r ApiMarkSmsReceiptAsReadRequest) Execute() (*MarkSmsReceiptAsRead, *http.Response, error) {
	return r.ApiService.MarkSmsReceiptAsReadExecute(r)
}

/*
MarkSmsReceiptAsRead Mark SMS Receipt As Read

Use this endpoint to mark all <a target="_blank" href="https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates">SMS delivery receipts</a> as read. Delivery receipts that have been marked as read won’t be shown in the **View SMS Receipts** endpoint. 
You can still use the **View Specific SMS Receipt** endpoint to view delivery receipts marked as read. In the request, you can optionally add a _date_before_ parameter to only mark receipts sent before that date as read

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMarkSmsReceiptAsReadRequest
*/
func (a *SmsAPIService) MarkSmsReceiptAsRead(ctx context.Context) ApiMarkSmsReceiptAsReadRequest {
	return ApiMarkSmsReceiptAsReadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MarkSmsReceiptAsRead
func (a *SmsAPIService) MarkSmsReceiptAsReadExecute(r ApiMarkSmsReceiptAsReadRequest) (*MarkSmsReceiptAsRead, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MarkSmsReceiptAsRead
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.MarkSmsReceiptAsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/receipts-read"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.markSmsReceiptAsReadRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMarkSpecificInboundSmsMessageAsReadRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	messageId string
	contentType *string
}

func (r ApiMarkSpecificInboundSmsMessageAsReadRequest) ContentType(contentType string) ApiMarkSpecificInboundSmsMessageAsReadRequest {
	r.contentType = &contentType
	return r
}

func (r ApiMarkSpecificInboundSmsMessageAsReadRequest) Execute() (*MarkSpecificInboundSmsMessageAsRead, *http.Response, error) {
	return r.ApiService.MarkSpecificInboundSmsMessageAsReadExecute(r)
}

/*
MarkSpecificInboundSmsMessageAsRead Mark Specific Inbound SMS Message As Read

Use this endpoint to mark a specific <a href="https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url" target="_blank">inbound SMS</a> as read. Unlike the **View Inbound SMS** endpoint, which marks all inbound SMS as read, 
this endpoint only marks one specified inbound SMS. Specify the SMS to be marked as read by providing its _message_id_.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param messageId The message_id of the inbound SMS to mark as read.  <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note:</h4>   <p>     When you receive an inbound message, you will get two parameters: <em>original_message_id</em> and <em>message_id</em>:   </p>   <ul>     <li><em>original_message_id</em>: This is the ID of the outbound message sent to the recipient</li>     <li><em>message_id</em>: This is the ID of the inbound message sent by the recipient.</li>   </ul> </div>
 @return ApiMarkSpecificInboundSmsMessageAsReadRequest
*/
func (a *SmsAPIService) MarkSpecificInboundSmsMessageAsRead(ctx context.Context, messageId string) ApiMarkSpecificInboundSmsMessageAsReadRequest {
	return ApiMarkSpecificInboundSmsMessageAsReadRequest{
		ApiService: a,
		ctx: ctx,
		messageId: messageId,
	}
}

// Execute executes the request
//  @return MarkSpecificInboundSmsMessageAsRead
func (a *SmsAPIService) MarkSpecificInboundSmsMessageAsReadExecute(r ApiMarkSpecificInboundSmsMessageAsReadRequest) (*MarkSpecificInboundSmsMessageAsRead, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MarkSpecificInboundSmsMessageAsRead
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.MarkSpecificInboundSmsMessageAsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/inbound-read/{message_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"message_id"+"}", url.PathEscape(parameterValueToString(r.messageId, "messageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSendSmsRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	sendSmsRequest *SendSmsRequest
}

func (r ApiSendSmsRequest) ContentType(contentType string) ApiSendSmsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiSendSmsRequest) SendSmsRequest(sendSmsRequest SendSmsRequest) ApiSendSmsRequest {
	r.sendSmsRequest = &sendSmsRequest
	return r
}

func (r ApiSendSmsRequest) Execute() (*SendSms, *http.Response, error) {
	return r.ApiService.SendSmsExecute(r)
}

/*
SendSms Send SMS

Use this endpoint to send messages to your recipients, either as phone numbers or contacts from your contact list. 
The sender of the message (<a href="https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number" target="_blank"><strong>Sender ID</strong></a>) can be a shared number, a dedicated number, alpha tag (business name), or your own number. 
You can send messages both locally and globally, subject to the country restrictions. The cost of sending messages varies based on the <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms" target="_blank">type</a> and length of the message.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSendSmsRequest
*/
func (a *SmsAPIService) SendSms(ctx context.Context) ApiSendSmsRequest {
	return ApiSendSmsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SendSms
func (a *SmsAPIService) SendSmsExecute(r ApiSendSmsRequest) (*SendSms, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SendSms
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.SendSms")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/send"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.sendSmsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateSmsDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	receiptRuleId string
	contentType *string
	createSmsDeliveryReceiptRuleRequest *CreateSmsDeliveryReceiptRuleRequest
}

func (r ApiUpdateSmsDeliveryReceiptRuleRequest) ContentType(contentType string) ApiUpdateSmsDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateSmsDeliveryReceiptRuleRequest) CreateSmsDeliveryReceiptRuleRequest(createSmsDeliveryReceiptRuleRequest CreateSmsDeliveryReceiptRuleRequest) ApiUpdateSmsDeliveryReceiptRuleRequest {
	r.createSmsDeliveryReceiptRuleRequest = &createSmsDeliveryReceiptRuleRequest
	return r
}

func (r ApiUpdateSmsDeliveryReceiptRuleRequest) Execute() (*UpdateSmsDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.UpdateSmsDeliveryReceiptRuleExecute(r)
}

/*
UpdateSmsDeliveryReceiptRule Update SMS Delivery Receipt Rule

_Update sms delivery receipt automation_

Update sms delivery receipt automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| receipt_rule_id | path | integer(int32) | true | Receipt rule id |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| rule_name | string | true | none | Rule Name. |
| match_type | number | true | none | Match Type. 0=All reports. |
| action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). |
| action_address | string | true | none | Action address. |
| enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptRuleId
 @return ApiUpdateSmsDeliveryReceiptRuleRequest
*/
func (a *SmsAPIService) UpdateSmsDeliveryReceiptRule(ctx context.Context, receiptRuleId string) ApiUpdateSmsDeliveryReceiptRuleRequest {
	return ApiUpdateSmsDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
		receiptRuleId: receiptRuleId,
	}
}

// Execute executes the request
//  @return UpdateSmsDeliveryReceiptRule
func (a *SmsAPIService) UpdateSmsDeliveryReceiptRuleExecute(r ApiUpdateSmsDeliveryReceiptRuleRequest) (*UpdateSmsDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateSmsDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.UpdateSmsDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/sms/receipts/{receipt_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"receipt_rule_id"+"}", url.PathEscape(parameterValueToString(r.receiptRuleId, "receiptRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createSmsDeliveryReceiptRuleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateSmsInboundAutomationRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	inboundRuleId string
	contentType *string
	updateSmsInboundAutomationRequest *UpdateSmsInboundAutomationRequest
}

func (r ApiUpdateSmsInboundAutomationRequest) ContentType(contentType string) ApiUpdateSmsInboundAutomationRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateSmsInboundAutomationRequest) UpdateSmsInboundAutomationRequest(updateSmsInboundAutomationRequest UpdateSmsInboundAutomationRequest) ApiUpdateSmsInboundAutomationRequest {
	r.updateSmsInboundAutomationRequest = &updateSmsInboundAutomationRequest
	return r
}

func (r ApiUpdateSmsInboundAutomationRequest) Execute() (*UpdateSmsInboundAutomation, *http.Response, error) {
	return r.ApiService.UpdateSmsInboundAutomationExecute(r)
}

/*
UpdateSmsInboundAutomation Update SMS Inbound Automation

_Update inbound sms automation_

Update inbound sms automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| inbound_rule_id | path | integer(int32) | true | Inbound rule id |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| dedicated_number | string | true | none | Dedicated Number. Can be '\*' to apply to all numbers. |
| rule_name | string | true | none | Rule Name. |
| message_search_type | number | true | none | Message Search Type: 0=Any message, 1=starts with, 2=contains, 3=does not contain. |
| message_search_term | string | true | none | Message search term. |
| action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). |
| action_address | string | true | none | Action address. |
| enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |
| webhook_type | string | false | Required when action = URL only | Set as post, get, or json to change the format of the request sent. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param inboundRuleId
 @return ApiUpdateSmsInboundAutomationRequest
*/
func (a *SmsAPIService) UpdateSmsInboundAutomation(ctx context.Context, inboundRuleId string) ApiUpdateSmsInboundAutomationRequest {
	return ApiUpdateSmsInboundAutomationRequest{
		ApiService: a,
		ctx: ctx,
		inboundRuleId: inboundRuleId,
	}
}

// Execute executes the request
//  @return UpdateSmsInboundAutomation
func (a *SmsAPIService) UpdateSmsInboundAutomationExecute(r ApiUpdateSmsInboundAutomationRequest) (*UpdateSmsInboundAutomation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateSmsInboundAutomation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.UpdateSmsInboundAutomation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/sms/inbound/{inbound_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"inbound_rule_id"+"}", url.PathEscape(parameterValueToString(r.inboundRuleId, "inboundRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.updateSmsInboundAutomationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateSmsTemplateRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	templateId string
	contentType *string
	createSmsTemplateRequest *CreateSmsTemplateRequest
}

func (r ApiUpdateSmsTemplateRequest) ContentType(contentType string) ApiUpdateSmsTemplateRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateSmsTemplateRequest) CreateSmsTemplateRequest(createSmsTemplateRequest CreateSmsTemplateRequest) ApiUpdateSmsTemplateRequest {
	r.createSmsTemplateRequest = &createSmsTemplateRequest
	return r
}

func (r ApiUpdateSmsTemplateRequest) Execute() (*UpdateSmsTemplate, *http.Response, error) {
	return r.ApiService.UpdateSmsTemplateExecute(r)
}

/*
UpdateSmsTemplate Update SMS Template

Use this endpoint to update a <a href="https://help.clicksend.com/article/9z9uloaz8y-sms-templates-for-different-industries" target="_blank">SMS template</a>.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param templateId The ID of the template to update.
 @return ApiUpdateSmsTemplateRequest
*/
func (a *SmsAPIService) UpdateSmsTemplate(ctx context.Context, templateId string) ApiUpdateSmsTemplateRequest {
	return ApiUpdateSmsTemplateRequest{
		ApiService: a,
		ctx: ctx,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return UpdateSmsTemplate
func (a *SmsAPIService) UpdateSmsTemplateExecute(r ApiUpdateSmsTemplateRequest) (*UpdateSmsTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateSmsTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.UpdateSmsTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/templates/{template_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"template_id"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createSmsTemplateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewASpecificInboundSmsMessageRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	originalMessageId string
	contentType *string
}

func (r ApiViewASpecificInboundSmsMessageRequest) ContentType(contentType string) ApiViewASpecificInboundSmsMessageRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewASpecificInboundSmsMessageRequest) Execute() (*ViewASpecificInboundSmsMessage, *http.Response, error) {
	return r.ApiService.ViewASpecificInboundSmsMessageExecute(r)
}

/*
ViewASpecificInboundSmsMessage View a specific inbound SMS message

Use this endpoint to retrieve a specific inbound SMS, including those that have been marked as read. 
Inbound SMS are messages sent by your recipient to you. This endpoint enables you to retrieve those inbound SMS.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param originalMessageId The _original_message_id_ of the inbound SMS to view. If the recipient replied with multiple messages, this endpoint returns the first inbound SMS received.  <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note:</h4>   <p>     When you receive an inbound message, you will get two parameters: <em>original_message_id</em> and <em>message_id</em>:   </p>   <ul>     <li><em>original_message_id</em>: This is the ID of the outbound message sent to the recipient</li>     <li><em>message_id</em>: This is the ID of the inbound message sent by the recipient.</li>   </ul> </div>
 @return ApiViewASpecificInboundSmsMessageRequest
*/
func (a *SmsAPIService) ViewASpecificInboundSmsMessage(ctx context.Context, originalMessageId string) ApiViewASpecificInboundSmsMessageRequest {
	return ApiViewASpecificInboundSmsMessageRequest{
		ApiService: a,
		ctx: ctx,
		originalMessageId: originalMessageId,
	}
}

// Execute executes the request
//  @return ViewASpecificInboundSmsMessage
func (a *SmsAPIService) ViewASpecificInboundSmsMessageExecute(r ApiViewASpecificInboundSmsMessageRequest) (*ViewASpecificInboundSmsMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewASpecificInboundSmsMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.ViewASpecificInboundSmsMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/inbound/{original_message_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"original_message_id"+"}", url.PathEscape(parameterValueToString(r.originalMessageId, "originalMessageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewASpecificSmsTemplateRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	templateId string
	contentType *string
}

func (r ApiViewASpecificSmsTemplateRequest) ContentType(contentType string) ApiViewASpecificSmsTemplateRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewASpecificSmsTemplateRequest) Execute() (*ViewASpecificSmsTemplate, *http.Response, error) {
	return r.ApiService.ViewASpecificSmsTemplateExecute(r)
}

/*
ViewASpecificSmsTemplate View a Specific SMS Template

Use this endpoint to retrieve a <a href="https://help.clicksend.com/article/9z9uloaz8y-sms-templates-for-different-industries" target="_blank">SMS template</a>. Specify which template to retrieve using the template ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param templateId The ID of the template to retrieve
 @return ApiViewASpecificSmsTemplateRequest
*/
func (a *SmsAPIService) ViewASpecificSmsTemplate(ctx context.Context, templateId string) ApiViewASpecificSmsTemplateRequest {
	return ApiViewASpecificSmsTemplateRequest{
		ApiService: a,
		ctx: ctx,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return ViewASpecificSmsTemplate
func (a *SmsAPIService) ViewASpecificSmsTemplateExecute(r ApiViewASpecificSmsTemplateRequest) (*ViewASpecificSmsTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewASpecificSmsTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SmsAPIService.ViewASpecificSmsTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/sms/templates/{template_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"template_id"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewInboundSmsRequest struct {
	ctx context.Context
	ApiService *SmsAPIService
	contentType *string
	page *int32
	limit *int32
}

func (r ApiViewInboundSmsRequest) ContentType(contentType string) ApiViewInboundSmsRequest {
	r.contentType = &contentType
[...]
