/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OwnNumbersAPIService OwnNumbersAPI service
type OwnNumbersAPIService service

type ApiDeleteOwnNumberRequest struct {
	ctx context.Context
	ApiService *OwnNumbersAPIService
	ownNumberId string
	contentType *string
}

func (r ApiDeleteOwnNumberRequest) ContentType(contentType string) ApiDeleteOwnNumberRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDeleteOwnNumberRequest) Execute() (*OwnNumber, *http.Response, error) {
	return r.ApiService.DeleteOwnNumberExecute(r)
}

/*
DeleteOwnNumber Delete Own Number

_Delete a specific own numbers._

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| own_number_id | path | uuid | true | ID of the own number |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

This endpoint requires authentication, [more info...](/#authentication)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ownNumberId
 @return ApiDeleteOwnNumberRequest
*/
func (a *OwnNumbersAPIService) DeleteOwnNumber(ctx context.Context, ownNumberId string) ApiDeleteOwnNumberRequest {
	return ApiDeleteOwnNumberRequest{
		ApiService: a,
		ctx: ctx,
		ownNumberId: ownNumberId,
	}
}

// Execute executes the request
//  @return OwnNumber
func (a *OwnNumbersAPIService) DeleteOwnNumberExecute(r ApiDeleteOwnNumberRequest) (*OwnNumber, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OwnNumber
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OwnNumbersAPIService.DeleteOwnNumber")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/own-numbers/{own_number_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"own_number_id"+"}", url.PathEscape(parameterValueToString(r.ownNumberId, "ownNumberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOwnNumberDetailRequest struct {
	ctx context.Context
	ApiService *OwnNumbersAPIService
	ownNumberId string
	contentType *string
}

func (r ApiGetOwnNumberDetailRequest) ContentType(contentType string) ApiGetOwnNumberDetailRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGetOwnNumberDetailRequest) Execute() (*OwnNumber, *http.Response, error) {
	return r.ApiService.GetOwnNumberDetailExecute(r)
}

/*
GetOwnNumberDetail Get Own Number Detail

_Get a specific own numbers._

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| own_number_id | path | uuid | true | ID of the own number |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

This endpoint requires authentication, [more info...](/#authentication)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ownNumberId
 @return ApiGetOwnNumberDetailRequest
*/
func (a *OwnNumbersAPIService) GetOwnNumberDetail(ctx context.Context, ownNumberId string) ApiGetOwnNumberDetailRequest {
	return ApiGetOwnNumberDetailRequest{
		ApiService: a,
		ctx: ctx,
		ownNumberId: ownNumberId,
	}
}

// Execute executes the request
//  @return OwnNumber
func (a *OwnNumbersAPIService) GetOwnNumberDetailExecute(r ApiGetOwnNumberDetailRequest) (*OwnNumber, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OwnNumber
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OwnNumbersAPIService.GetOwnNumberDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/own-numbers/{own_number_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"own_number_id"+"}", url.PathEscape(parameterValueToString(r.ownNumberId, "ownNumberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListOwnNumbersRequest struct {
	ctx context.Context
	ApiService *OwnNumbersAPIService
	contentType *string
}

func (r ApiListOwnNumbersRequest) ContentType(contentType string) ApiListOwnNumbersRequest {
	r.contentType = &contentType
	return r
}

func (r ApiListOwnNumbersRequest) Execute() (*ListOwnNumbers, *http.Response, error) {
	return r.ApiService.ListOwnNumbersExecute(r)
}

/*
ListOwnNumbers List Own Numbers

_List own numbers._

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| offset | query | uuid | false | Page(offset) to be used for pagination. Example: `offset=f99872cc-11a6-48ba-a9f2-bcfb6dd1e3d4#8fa5ebc2-777b-45db-a448-ec76a40d4384` |
| page_size | query | integer | false | Number of records per page. Default: 10. Range \[1..500\] |
| filter\[status\]\[\] | query | string | false | Filter by statuses. Value must be in enum \[`PENDING`, `APPROVED`, `REJECTED`\]. For example: `filter[status][0]=PENDING&filter[status][1]=APPROVED` . |
| sort_by | query | string | false | Sort by parameter. Default: `created_timestamp` |
| sort_direction | query | string | false | Direction of sorting. Default: `asc`. Value must be in enum \[`asc`, `desc`\]. |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

 This endpoint requires authentication, [more info...](/#authentication)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListOwnNumbersRequest
*/
func (a *OwnNumbersAPIService) ListOwnNumbers(ctx context.Context) ApiListOwnNumbersRequest {
	return ApiListOwnNumbersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListOwnNumbers
func (a *OwnNumbersAPIService) ListOwnNumbersExecute(r ApiListOwnNumbersRequest) (*ListOwnNumbers, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListOwnNumbers
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OwnNumbersAPIService.ListOwnNumbers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/own-numbers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRequestOwnNumberVerificationOtpRequest struct {
	ctx context.Context
	ApiService *OwnNumbersAPIService
	contentType *string
	requestOwnNumberVerificationOtpRequest *RequestOwnNumberVerificationOtpRequest
}

func (r ApiRequestOwnNumberVerificationOtpRequest) ContentType(contentType string) ApiRequestOwnNumberVerificationOtpRequest {
	r.contentType = &contentType
	return r
}

func (r ApiRequestOwnNumberVerificationOtpRequest) RequestOwnNumberVerificationOtpRequest(requestOwnNumberVerificationOtpRequest RequestOwnNumberVerificationOtpRequest) ApiRequestOwnNumberVerificationOtpRequest {
	r.requestOwnNumberVerificationOtpRequest = &requestOwnNumberVerificationOtpRequest
	return r
}

func (r ApiRequestOwnNumberVerificationOtpRequest) Execute() (*RequestOwnNumberVerificationOtp, *http.Response, error) {
	return r.ApiService.RequestOwnNumberVerificationOtpExecute(r)
}

/*
RequestOwnNumberVerificationOtp Request Own Number Verification OTP

_Request to generate own number verification OTP_

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| label | string | false | none | Custom label for phone number. Length must be between 1 - 200 characters. |
| phone_number | string | true | none | Phone number. |
| country | string | false | none | Country code. |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

This endpoint requires authentication, [more info...](/#authentication)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRequestOwnNumberVerificationOtpRequest
*/
func (a *OwnNumbersAPIService) RequestOwnNumberVerificationOtp(ctx context.Context) ApiRequestOwnNumberVerificationOtpRequest {
	return ApiRequestOwnNumberVerificationOtpRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RequestOwnNumberVerificationOtp
func (a *OwnNumbersAPIService) RequestOwnNumberVerificationOtpExecute(r ApiRequestOwnNumberVerificationOtpRequest) (*RequestOwnNumberVerificationOtp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RequestOwnNumberVerificationOtp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OwnNumbersAPIService.RequestOwnNumberVerificationOtp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/own-numbers/verifications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.requestOwnNumberVerificationOtpRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateOwnNumberRequest struct {
	ctx context.Context
	ApiService *OwnNumbersAPIService
	ownNumberId string
}

func (r ApiUpdateOwnNumberRequest) Execute() (*OwnNumber, *http.Response, error) {
	return r.ApiService.UpdateOwnNumberExecute(r)
}

/*
UpdateOwnNumber Update Own Number

_Update details of a specific own numbers._

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| own_number_id | path | uuid | true | ID of the own number |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| label | string | false | none | Custom label for phone number. Length must be between 1 - 200 characters. |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

This endpoint requires authentication, [more info...](/#authentication)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ownNumberId
 @return ApiUpdateOwnNumberRequest
*/
func (a *OwnNumbersAPIService) UpdateOwnNumber(ctx context.Context, ownNumberId string) ApiUpdateOwnNumberRequest {
	return ApiUpdateOwnNumberRequest{
		ApiService: a,
		ctx: ctx,
		ownNumberId: ownNumberId,
	}
}

// Execute executes the request
//  @return OwnNumber
func (a *OwnNumbersAPIService) UpdateOwnNumberExecute(r ApiUpdateOwnNumberRequest) (*OwnNumber, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OwnNumber
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OwnNumbersAPIService.UpdateOwnNumber")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/own-numbers/{own_number_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"own_number_id"+"}", url.PathEscape(parameterValueToString(r.ownNumberId, "ownNumberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVerifyOwnNumberOtpRequest struct {
	ctx context.Context
	ApiService *OwnNumbersAPIService
	verificationId string
	contentType *string
	verifyOwnNumberOtpRequest *VerifyOwnNumberOtpRequest
}

func (r ApiVerifyOwnNumberOtpRequest) ContentType(contentType string) ApiVerifyOwnNumberOtpRequest {
	r.contentType = &contentType
	return r
}

func (r ApiVerifyOwnNumberOtpRequest) VerifyOwnNumberOtpRequest(verifyOwnNumberOtpRequest VerifyOwnNumberOtpRequest) ApiVerifyOwnNumberOtpRequest {
	r.verifyOwnNumberOtpRequest = &verifyOwnNumberOtpRequest
	return r
}

func (r ApiVerifyOwnNumberOtpRequest) Execute() (*VerifyOwnNumberOtp, *http.Response, error) {
	return r.ApiService.VerifyOwnNumberOtpExecute(r)
}

/*
VerifyOwnNumberOtp Verify Own Number OTP

_Request to verify an OTP for Own Number verification_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| verification_id | path | uuid | true | ID of the Own Number verification |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| code | string | true | none | OTP code. Length must be 6 characters |
| phone_number | string | true | none | Phone number. |
| country | string | false | none | Country code. |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

This endpoint requires authentication, [more info...](/#authentication)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param verificationId
 @return ApiVerifyOwnNumberOtpRequest
*/
func (a *OwnNumbersAPIService) VerifyOwnNumberOtp(ctx context.Context, verificationId string) ApiVerifyOwnNumberOtpRequest {
	return ApiVerifyOwnNumberOtpRequest{
		ApiService: a,
		ctx: ctx,
		verificationId: verificationId,
	}
}

// Execute executes the request
//  @return VerifyOwnNumberOtp
func (a *OwnNumbersAPIService) VerifyOwnNumberOtpExecute(r ApiVerifyOwnNumberOtpRequest) (*VerifyOwnNumberOtp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VerifyOwnNumberOtp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OwnNumbersAPIService.VerifyOwnNumberOtp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/own-numbers/verifications/{verification_id}/verify"
	localVarPath = strings.Replace(localVarPath, "{"+"verification_id"+"}", url.PathEscape(parameterValueToString(r.verificationId, "verificationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.verifyOwnNumberOtpRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
