/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ResellerAPIService ResellerAPI service
type ResellerAPIService service

type ApiCreateResellerAccountRequest struct {
	ctx context.Context
	ApiService *ResellerAPIService
	contentType *string
	createResellerAccountRequest *CreateResellerAccountRequest
}

func (r ApiCreateResellerAccountRequest) ContentType(contentType string) ApiCreateResellerAccountRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateResellerAccountRequest) CreateResellerAccountRequest(createResellerAccountRequest CreateResellerAccountRequest) ApiCreateResellerAccountRequest {
	r.createResellerAccountRequest = &createResellerAccountRequest
	return r
}

func (r ApiCreateResellerAccountRequest) Execute() (*CreateResellerAccount, *http.Response, error) {
	return r.ApiService.CreateResellerAccountExecute(r)
}

/*
CreateResellerAccount Create Reseller Account

_Create reseller account_

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| username | string | true | none | Account username |
| password | string | true | none | Account password (unhashed) |
| user_email | string | true | none | Account email |
| user_phone | string | true | none | Account phone number |
| user_first_name | string | true | none | Account owner first name |
| user_last_name | string | true | none | Account owner last name |
| account_name | string | true | none | Account name (usually company name) |
| country | string | true | none | Country of account holder |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateResellerAccountRequest
*/
func (a *ResellerAPIService) CreateResellerAccount(ctx context.Context) ApiCreateResellerAccountRequest {
	return ApiCreateResellerAccountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateResellerAccount
func (a *ResellerAPIService) CreateResellerAccountExecute(r ApiCreateResellerAccountRequest) (*CreateResellerAccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateResellerAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResellerAPIService.CreateResellerAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/reseller/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createResellerAccountRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResellerTransferCreditRequest struct {
	ctx context.Context
	ApiService *ResellerAPIService
	contentType *string
	updatePaymentInfoRequest *UpdatePaymentInfoRequest
}

func (r ApiResellerTransferCreditRequest) ContentType(contentType string) ApiResellerTransferCreditRequest {
	r.contentType = &contentType
	return r
}

func (r ApiResellerTransferCreditRequest) UpdatePaymentInfoRequest(updatePaymentInfoRequest UpdatePaymentInfoRequest) ApiResellerTransferCreditRequest {
	r.updatePaymentInfoRequest = &updatePaymentInfoRequest
	return r
}

func (r ApiResellerTransferCreditRequest) Execute() (*ResellerTransferCredit, *http.Response, error) {
	return r.ApiService.ResellerTransferCreditExecute(r)
}

/*
ResellerTransferCredit Reseller Transfer Credit

_Transfer Credit_

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| client_user_id | integer(int32) | true | none | User ID of client |
| balance | integer(int32) | true | none | Balance to transfer |
| currency | string | true | none | Currency of balance to transfer |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiResellerTransferCreditRequest
*/
func (a *ResellerAPIService) ResellerTransferCredit(ctx context.Context) ApiResellerTransferCreditRequest {
	return ApiResellerTransferCreditRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResellerTransferCredit
func (a *ResellerAPIService) ResellerTransferCreditExecute(r ApiResellerTransferCreditRequest) (*ResellerTransferCredit, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResellerTransferCredit
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResellerAPIService.ResellerTransferCredit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/reseller/transfer-credit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.updatePaymentInfoRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateClientAccountRequest struct {
	ctx context.Context
	ApiService *ResellerAPIService
	clientUserId string
	contentType *string
	updatePaymentInfoRequest *UpdatePaymentInfoRequest
}

func (r ApiUpdateClientAccountRequest) ContentType(contentType string) ApiUpdateClientAccountRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateClientAccountRequest) UpdatePaymentInfoRequest(updatePaymentInfoRequest UpdatePaymentInfoRequest) ApiUpdateClientAccountRequest {
	r.updatePaymentInfoRequest = &updatePaymentInfoRequest
	return r
}

func (r ApiUpdateClientAccountRequest) Execute() (*UpdateClientAccount, *http.Response, error) {
	return r.ApiService.UpdateClientAccountExecute(r)
}

/*
UpdateClientAccount Update Client Account

_Update Reseller clients Account_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| client_user_id | path | integer(int32) | true | User ID of client |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| username | string | true | none | Account username |
| password | string | true | none | Account password (unhashed) |
| user_email | string | true | none | Account email |
| user_phone | string | true | none | Account phone number |
| user_first_name | string | true | none | Account owner first name |
| user_last_name | string | true | none | Account owner last name |
| account_name | string | true | none | Account name (usually company name) |
| country | string | true | none | Country of account holder |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clientUserId
 @return ApiUpdateClientAccountRequest
*/
func (a *ResellerAPIService) UpdateClientAccount(ctx context.Context, clientUserId string) ApiUpdateClientAccountRequest {
	return ApiUpdateClientAccountRequest{
		ApiService: a,
		ctx: ctx,
		clientUserId: clientUserId,
	}
}

// Execute executes the request
//  @return UpdateClientAccount
func (a *ResellerAPIService) UpdateClientAccountExecute(r ApiUpdateClientAccountRequest) (*UpdateClientAccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateClientAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResellerAPIService.UpdateClientAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/reseller/accounts/{client_user_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"client_user_id"+"}", url.PathEscape(parameterValueToString(r.clientUserId, "clientUserId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.updatePaymentInfoRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewClientAccountsRequest struct {
	ctx context.Context
	ApiService *ResellerAPIService
	contentType *string
}

func (r ApiViewClientAccountsRequest) ContentType(contentType string) ApiViewClientAccountsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewClientAccountsRequest) Execute() (*ViewClientAccounts, *http.Response, error) {
	return r.ApiService.ViewClientAccountsExecute(r)
}

/*
ViewClientAccounts View Client Accounts

_Get list of reseller accounts_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| page | query | integer(int32) | false | [Page number](/#pagination) |
| limit | query | integer(int32) | false | [Number of records per page](/#pagination) |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewClientAccountsRequest
*/
func (a *ResellerAPIService) ViewClientAccounts(ctx context.Context) ApiViewClientAccountsRequest {
	return ApiViewClientAccountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewClientAccounts
func (a *ResellerAPIService) ViewClientAccountsExecute(r ApiViewClientAccountsRequest) (*ViewClientAccounts, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewClientAccounts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResellerAPIService.ViewClientAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/reseller/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewSpecificClientAccountRequest struct {
	ctx context.Context
	ApiService *ResellerAPIService
	clientUserId string
	contentType *string
}

func (r ApiViewSpecificClientAccountRequest) ContentType(contentType string) ApiViewSpecificClientAccountRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewSpecificClientAccountRequest) Execute() (*ViewSpecificClientAccount, *http.Response, error) {
	return r.ApiService.ViewSpecificClientAccountExecute(r)
}

/*
ViewSpecificClientAccount View Specific Client Account

_Get Reseller clients Account_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| client_user_id | path | integer(int32) | true | User ID of client |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clientUserId
 @return ApiViewSpecificClientAccountRequest
*/
func (a *ResellerAPIService) ViewSpecificClientAccount(ctx context.Context, clientUserId string) ApiViewSpecificClientAccountRequest {
	return ApiViewSpecificClientAccountRequest{
		ApiService: a,
		ctx: ctx,
		clientUserId: clientUserId,
	}
}

// Execute executes the request
//  @return ViewSpecificClientAccount
func (a *ResellerAPIService) ViewSpecificClientAccountExecute(r ApiViewSpecificClientAccountRequest) (*ViewSpecificClientAccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewSpecificClientAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResellerAPIService.ViewSpecificClientAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/reseller/accounts/{client_user_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"client_user_id"+"}", url.PathEscape(parameterValueToString(r.clientUserId, "clientUserId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
