/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AlphaTagsAPIService AlphaTagsAPI service
type AlphaTagsAPIService service

type ApiDeleteAlphaTagRequest struct {
	ctx context.Context
	ApiService *AlphaTagsAPIService
	alphaTagId string
	contentType *string
}

func (r ApiDeleteAlphaTagRequest) ContentType(contentType string) ApiDeleteAlphaTagRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDeleteAlphaTagRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAlphaTagExecute(r)
}

/*
DeleteAlphaTag Delete Alpha Tag

_Delete a specific alpha tag._

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| alpha_tag_id | path | uuid | true | ID of the alpha tag |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

This endpoint requires authentication, [more info...](/#authentication)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param alphaTagId
 @return ApiDeleteAlphaTagRequest
*/
func (a *AlphaTagsAPIService) DeleteAlphaTag(ctx context.Context, alphaTagId string) ApiDeleteAlphaTagRequest {
	return ApiDeleteAlphaTagRequest{
		ApiService: a,
		ctx: ctx,
		alphaTagId: alphaTagId,
	}
}

// Execute executes the request
func (a *AlphaTagsAPIService) DeleteAlphaTagExecute(r ApiDeleteAlphaTagRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlphaTagsAPIService.DeleteAlphaTag")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alpha-tags/{alpha_tag_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"alpha_tag_id"+"}", url.PathEscape(parameterValueToString(r.alphaTagId, "alphaTagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetAlphaTagRequest struct {
	ctx context.Context
	ApiService *AlphaTagsAPIService
	alphaTagId string
	contentType *string
}

func (r ApiGetAlphaTagRequest) ContentType(contentType string) ApiGetAlphaTagRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGetAlphaTagRequest) Execute() (*AlphaTag, *http.Response, error) {
	return r.ApiService.GetAlphaTagExecute(r)
}

/*
GetAlphaTag Get Alpha Tag

_Get a specific alpha tag._

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| alpha_tag_id | path | uuid | true | ID of the alpha tag |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

 This endpoint requires authentication, [more info...](/#authentication)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param alphaTagId
 @return ApiGetAlphaTagRequest
*/
func (a *AlphaTagsAPIService) GetAlphaTag(ctx context.Context, alphaTagId string) ApiGetAlphaTagRequest {
	return ApiGetAlphaTagRequest{
		ApiService: a,
		ctx: ctx,
		alphaTagId: alphaTagId,
	}
}

// Execute executes the request
//  @return AlphaTag
func (a *AlphaTagsAPIService) GetAlphaTagExecute(r ApiGetAlphaTagRequest) (*AlphaTag, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AlphaTag
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlphaTagsAPIService.GetAlphaTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alpha-tags/{alpha_tag_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"alpha_tag_id"+"}", url.PathEscape(parameterValueToString(r.alphaTagId, "alphaTagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAlphaTagsRequest struct {
	ctx context.Context
	ApiService *AlphaTagsAPIService
	sortDirection *string
	pageSize *int32
}

// The sort direction for the results. The default value is asc.
func (r ApiListAlphaTagsRequest) SortDirection(sortDirection string) ApiListAlphaTagsRequest {
	r.sortDirection = &sortDirection
	return r
}

// The number of items to return per page. This parameter controls the size of each page of results. The default value is 10.
func (r ApiListAlphaTagsRequest) PageSize(pageSize int32) ApiListAlphaTagsRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiListAlphaTagsRequest) Execute() (*ListAlphaTags, *http.Response, error) {
	return r.ApiService.ListAlphaTagsExecute(r)
}

/*
ListAlphaTags List Alpha Tags



 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAlphaTagsRequest
*/
func (a *AlphaTagsAPIService) ListAlphaTags(ctx context.Context) ApiListAlphaTagsRequest {
	return ApiListAlphaTagsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListAlphaTags
func (a *AlphaTagsAPIService) ListAlphaTagsExecute(r ApiListAlphaTagsRequest) (*ListAlphaTags, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListAlphaTags
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlphaTagsAPIService.ListAlphaTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alpha-tags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", r.sortDirection, "form", "")
	} else {
		var defaultValue string = "asc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", defaultValue, "form", "")
		r.sortDirection = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRequestAlphaTagRequest struct {
	ctx context.Context
	ApiService *AlphaTagsAPIService
	contentType *string
	requestAlphaTagRequest *RequestAlphaTagRequest
}

func (r ApiRequestAlphaTagRequest) ContentType(contentType string) ApiRequestAlphaTagRequest {
	r.contentType = &contentType
	return r
}

func (r ApiRequestAlphaTagRequest) RequestAlphaTagRequest(requestAlphaTagRequest RequestAlphaTagRequest) ApiRequestAlphaTagRequest {
	r.requestAlphaTagRequest = &requestAlphaTagRequest
	return r
}

func (r ApiRequestAlphaTagRequest) Execute() (*AlphaTag, *http.Response, error) {
	return r.ApiService.RequestAlphaTagExecute(r)
}

/*
RequestAlphaTag Request Alpha Tag

_Request to register an alpha tag. After requested, the alpha tag will be reviewed by ClickSend and either approved or rejected. Some countries (e.g Australia) require you to submit additional fields due to government mandated compliance checks._

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| alpha_tag | string | true | [yes](https://help.clicksend.com/article/1qxfxkcwm2-global-generic-alpha-tags) | The alpha tag name. Length must be between 3 - 11 characters, can only contain a-z A-Z 0-9 + and must contain at least one non numeric. |
| reason | string | false | none | Must be one of the following: `Sole Trader Name`, `Company Name`, `Partnership Name`, `Registered Trust Name`, `Co-Operative Name`, `Indigenous Corporation Name`, `Registered Organisation Name`, `Personal Name`, `Trademark`, `Government Agency or Entity`, `Product or Service Name`, `Acronym/Initialism`, `Contraction of Name`, `Third Party`. In case of `Third Party`, we will contact you to collect the relevant information. |
| countries | array of strings | false | none | List of country codes (e.g., "AU", "US") where the alpha tag is requested. Only supported and required for AU. |
| businesses | array of objects | false | none | List of business details required for alpha tag registration. Each object contains country, business information, ... Required if `countries` is provided. When `business_relationship` is `ENTITY_ASSOCIATE`, the following partner fields are also **required**: `partner_business_name`, `partner_abn`, `partner_business_info`, `partner_business_address`, `partner_representative`. These fields are **forbidden** for any other `business_relationship` value. |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

_This endpoint requires authentication,_ [more info...](/#authentication)


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRequestAlphaTagRequest
*/
func (a *AlphaTagsAPIService) RequestAlphaTag(ctx context.Context) ApiRequestAlphaTagRequest {
	return ApiRequestAlphaTagRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AlphaTag
func (a *AlphaTagsAPIService) RequestAlphaTagExecute(r ApiRequestAlphaTagRequest) (*AlphaTag, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AlphaTag
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlphaTagsAPIService.RequestAlphaTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/alpha-tags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.requestAlphaTagRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
