/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VoiceMessagingAPIService VoiceMessagingAPI service
type VoiceMessagingAPIService service

type ApiCalculateVoicePriceRequest struct {
	ctx context.Context
	ApiService *VoiceMessagingAPIService
	contentType *string
	calculateVoicePriceRequest *CalculateVoicePriceRequest
}

func (r ApiCalculateVoicePriceRequest) ContentType(contentType string) ApiCalculateVoicePriceRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCalculateVoicePriceRequest) CalculateVoicePriceRequest(calculateVoicePriceRequest CalculateVoicePriceRequest) ApiCalculateVoicePriceRequest {
	r.calculateVoicePriceRequest = &calculateVoicePriceRequest
	return r
}

func (r ApiCalculateVoicePriceRequest) Execute() (*CalculateVoicePrice, *http.Response, error) {
	return r.ApiService.CalculateVoicePriceExecute(r)
}

/*
CalculateVoicePrice Calculate Voice Price

_Calculate voice price_

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| to | string | true | none | Your phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format. |
| body | string | true | none | Biscuit uv3nlCOjRk croissant chocolate lollipop chocolate muffin. |
| voice | string | true | none | Either 'female' or 'male'. |
| custom_string | string | true | none | Your reference. Will be passed back with all replies and delivery reports. |
| country | string | true | none | The country of the recipient. |
| source | string | false | none | Your method of sending e.g. 'wordpress', 'php', 'c#'. |
| list_id | integer(int32) | false | none | Your list ID if sending to a whole list. Can be used instead of 'to'. |
| lang | string | false | none | au (string, required) - See section on available languages. |
| schedule | integer(int32) | false | none | Leave blank for immediate delivery. Your schedule time in unix format [http://help.clicksend.com/what-is-a-unix-timestamp](http://help.clicksend.com/what-is-a-unix-timestamp) |
| require_input | integer(int1) | false | none | Recieve a keypress from the recipient. Flag value must be 1 for yes or 0 for no. |
| machine_detection | integer(int1) | false | none | Detect answering machine or voicemail and leave a message. Flag value must be 1 for yes or 0 for no. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCalculateVoicePriceRequest
*/
func (a *VoiceMessagingAPIService) CalculateVoicePrice(ctx context.Context) ApiCalculateVoicePriceRequest {
	return ApiCalculateVoicePriceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CalculateVoicePrice
func (a *VoiceMessagingAPIService) CalculateVoicePriceExecute(r ApiCalculateVoicePriceRequest) (*CalculateVoicePrice, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CalculateVoicePrice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceMessagingAPIService.CalculateVoicePrice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/voice/price"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.calculateVoicePriceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelAllVoiceMessagesRequest struct {
	ctx context.Context
	ApiService *VoiceMessagingAPIService
	contentType *string
	body *map[string]interface{}
}

func (r ApiCancelAllVoiceMessagesRequest) ContentType(contentType string) ApiCancelAllVoiceMessagesRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCancelAllVoiceMessagesRequest) Body(body map[string]interface{}) ApiCancelAllVoiceMessagesRequest {
	r.body = &body
	return r
}

func (r ApiCancelAllVoiceMessagesRequest) Execute() (*CancelAllVoiceMessages, *http.Response, error) {
	return r.ApiService.CancelAllVoiceMessagesExecute(r)
}

/*
CancelAllVoiceMessages Cancel All Voice Messages

_Update all voice messages as cancelled_

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCancelAllVoiceMessagesRequest
*/
func (a *VoiceMessagingAPIService) CancelAllVoiceMessages(ctx context.Context) ApiCancelAllVoiceMessagesRequest {
	return ApiCancelAllVoiceMessagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CancelAllVoiceMessages
func (a *VoiceMessagingAPIService) CancelAllVoiceMessagesExecute(r ApiCancelAllVoiceMessagesRequest) (*CancelAllVoiceMessages, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CancelAllVoiceMessages
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceMessagingAPIService.CancelAllVoiceMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/voice/cancel-all"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelVoiceMessageRequest struct {
	ctx context.Context
	ApiService *VoiceMessagingAPIService
	messageId string
	contentType *string
	body *map[string]interface{}
}

func (r ApiCancelVoiceMessageRequest) ContentType(contentType string) ApiCancelVoiceMessageRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCancelVoiceMessageRequest) Body(body map[string]interface{}) ApiCancelVoiceMessageRequest {
	r.body = &body
	return r
}

func (r ApiCancelVoiceMessageRequest) Execute() (*CancelVoiceMessage, *http.Response, error) {
	return r.ApiService.CancelVoiceMessageExecute(r)
}

/*
CancelVoiceMessage Cancel Voice Message

_Update voice message status as cancelled_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| message_id | path | string | true | Your voice message id |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param messageId
 @return ApiCancelVoiceMessageRequest
*/
func (a *VoiceMessagingAPIService) CancelVoiceMessage(ctx context.Context, messageId string) ApiCancelVoiceMessageRequest {
	return ApiCancelVoiceMessageRequest{
		ApiService: a,
		ctx: ctx,
		messageId: messageId,
	}
}

// Execute executes the request
//  @return CancelVoiceMessage
func (a *VoiceMessagingAPIService) CancelVoiceMessageExecute(r ApiCancelVoiceMessageRequest) (*CancelVoiceMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CancelVoiceMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceMessagingAPIService.CancelVoiceMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/voice/{message_id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"message_id"+"}", url.PathEscape(parameterValueToString(r.messageId, "messageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportVoiceHistoryRequest struct {
	ctx context.Context
	ApiService *VoiceMessagingAPIService
	contentType *string
	filename *string
	q *string
	orderBy *string
	dateFrom *string
	dateTo *string
	limit *int32
}

func (r ApiExportVoiceHistoryRequest) ContentType(contentType string) ApiExportVoiceHistoryRequest {
	r.contentType = &contentType
	return r
}

func (r ApiExportVoiceHistoryRequest) Filename(filename string) ApiExportVoiceHistoryRequest {
	r.filename = &filename
	return r
}

func (r ApiExportVoiceHistoryRequest) Q(q string) ApiExportVoiceHistoryRequest {
	r.q = &q
	return r
}

func (r ApiExportVoiceHistoryRequest) OrderBy(orderBy string) ApiExportVoiceHistoryRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiExportVoiceHistoryRequest) DateFrom(dateFrom string) ApiExportVoiceHistoryRequest {
	r.dateFrom = &dateFrom
	return r
}

func (r ApiExportVoiceHistoryRequest) DateTo(dateTo string) ApiExportVoiceHistoryRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiExportVoiceHistoryRequest) Limit(limit int32) ApiExportVoiceHistoryRequest {
	r.limit = &limit
	return r
}

func (r ApiExportVoiceHistoryRequest) Execute() (*ExportVoiceHistory, *http.Response, error) {
	return r.ApiService.ExportVoiceHistoryExecute(r)
}

/*
ExportVoiceHistory Export Voice History

_Export voice history_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| filename | query | string | true | Filename to export to |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExportVoiceHistoryRequest
*/
func (a *VoiceMessagingAPIService) ExportVoiceHistory(ctx context.Context) ApiExportVoiceHistoryRequest {
	return ApiExportVoiceHistoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ExportVoiceHistory
func (a *VoiceMessagingAPIService) ExportVoiceHistoryExecute(r ApiExportVoiceHistoryRequest) (*ExportVoiceHistory, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExportVoiceHistory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceMessagingAPIService.ExportVoiceHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/voice/history/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filename != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_from", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_to", r.dateTo, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetVoiceHistoryRequest struct {
	ctx context.Context
	ApiService *VoiceMessagingAPIService
	contentType *string
	dateTo *string
	limit *int32
	operator *string
	orderBy *string
	page *int32
}

func (r ApiGetVoiceHistoryRequest) ContentType(contentType string) ApiGetVoiceHistoryRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGetVoiceHistoryRequest) DateTo(dateTo string) ApiGetVoiceHistoryRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiGetVoiceHistoryRequest) Limit(limit int32) ApiGetVoiceHistoryRequest {
	r.limit = &limit
	return r
}

func (r ApiGetVoiceHistoryRequest) Operator(operator string) ApiGetVoiceHistoryRequest {
	r.operator = &operator
	return r
}

func (r ApiGetVoiceHistoryRequest) OrderBy(orderBy string) ApiGetVoiceHistoryRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiGetVoiceHistoryRequest) Page(page int32) ApiGetVoiceHistoryRequest {
	r.page = &page
	return r
}

func (r ApiGetVoiceHistoryRequest) Execute() (*GetVoiceHistory, *http.Response, error) {
	return r.ApiService.GetVoiceHistoryExecute(r)
}

/*
GetVoiceHistory Get Voice History

_Get all voice history_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| date_from | query | integer(int32) | false | Start date (Unix Timestamp e.g. 1436849372) |
| date_to | query | integer(int32) | false | End date (Unix Timestamp e.g. 1436879372) |
| page | query | integer(int32) | false | [Page number](/#pagination) |
| limit | query | integer(int32) | false | [Number of records per page](/#pagination) |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetVoiceHistoryRequest
*/
func (a *VoiceMessagingAPIService) GetVoiceHistory(ctx context.Context) ApiGetVoiceHistoryRequest {
	return ApiGetVoiceHistoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetVoiceHistory
func (a *VoiceMessagingAPIService) GetVoiceHistoryExecute(r ApiGetVoiceHistoryRequest) (*GetVoiceHistory, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetVoiceHistory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceMessagingAPIService.GetVoiceHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/voice/history"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_to", r.dateTo, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.operator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operator", r.operator, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSendVoiceMessageRequest struct {
	ctx context.Context
	ApiService *VoiceMessagingAPIService
	contentType *string
	sendVoiceMessageRequest *SendVoiceMessageRequest
}

func (r ApiSendVoiceMessageRequest) ContentType(contentType string) ApiSendVoiceMessageRequest {
	r.contentType = &contentType
	return r
}

func (r ApiSendVoiceMessageRequest) SendVoiceMessageRequest(sendVoiceMessageRequest SendVoiceMessageRequest) ApiSendVoiceMessageRequest {
	r.sendVoiceMessageRequest = &sendVoiceMessageRequest
	return r
}

func (r ApiSendVoiceMessageRequest) Execute() (*SendVoiceMessage, *http.Response, error) {
	return r.ApiService.SendVoiceMessageExecute(r)
}

/*
SendVoiceMessage Send Voice Message

_Send voice message(s)_

Send TTS (Text-to-speech) voice calls

### How many messages can I send?

You can post **up to 1000 messages** with each API call. You can send to a mix of contacts and contact lists, as long as the total number of recipients is up to 1000. The response contains a status and details for each recipient.

### How many characters can I send in a message?

If a message is longer than 4 message parts, it will be truncated (see below). If a message contains any characters that aren't in the GSM 03.38 character set, the message type will be treated as unicode. (`https://en.wikipedia.org/wiki/GSM_03.38`)

### _Standard English Characters:_

| Number of Characters | Message Credits |
| --- | --- |
| 1 - 300 | 1 |
| 301 - 600 | 2 |
| 601 - 900 | 3 |
| 901 - 1200 | 4 |

### _Non-GSM (Unicode) characters:_

| Number of Characters | Message Credits |
| --- | --- |
| 1 - 150 | 1 |
| 151 - 300 | 2 |
| 301 - 450 | 3 |
| 451 - 600 | 4 |

### _Allowed Languages_

| Language, Locale | lang | voice |
| --- | --- | --- |
| `English`, US | en-us | female (default) / male |
| `English`, Australia | en-au | female (default) / male |
| `English`, UK | en-gb | female (default) / male |
| `English`, India | en-in | female |
| `English`, Wales | en-gb-wls | female (default) / male |
| `Celtic`, Wales | cy-gb-wls | female (default) / male |
| `German`, Germany | de-de | female (default) / male |
| `Spanish`, Spain | es-es | female (default) / male |
| `Spanish`, US | es-us | female (default) / male |
| `French`, Canada | fr-ca | female |
| `French`, France | fr-fr | female (default) / male |
| `Icelandic`, Iceland | is-is | female (default) / male |
| `Italian`, Italy | it-it | female (default) / male |
| `Danish`, Denmark | da-dk | female (default) / male |
| `Dutch`, Netherlands | nl-nl | female (default) / male |
| `Norwegian`, Norway | nb-no | female |
| `Polish`, Poland | pl-pl | female (default) / male |
| `Portuguese`, Portugal | pt-pt | male |
| `Portuguese`, Brazil | pt-br | female (default) / male |
| `Romanian`, Romania | ro-ro | female |
| `Russian`, Russia | ru-ru | female (default) / male |
| `Swedish`, Sweden | sv-se | female |
| `Turkish`, Turkey | tr-tr | female |

_Tips_

To introduce a small delay between words or digits you can use a comma (,).

For example: `Please enter your activation code 9, 0, 9, 0, in the next 20 minutes.`

We support some SSML tags allowing custom breaks or pauses to be entered, and the readout rate to be altered.

[More info...](https://help.clicksend.com/en/articles/42982-customising-text-to-voice-output)

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| to | string | true | none | Your phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format. |
| body | string | true | none | Biscuit uv3nlCOjRk croissant chocolate lollipop chocolate muffin. |
| voice | string | true | none | Either 'female' or 'male'. |
| custom_string | string | true | none | Your reference. Will be passed back with all replies and delivery reports. |
| country | string | true | none | The country of the recipient. |
| source | string | false | none | Your method of sending e.g. 'wordpress', 'php', 'c#'. |
| list_id | integer(int32) | false | none | Your list ID if sending to a whole list. Can be used instead of 'to'. |
| lang | string | false | none | au (string, required) - See section on available languages. |
| schedule | integer(int32) | false | none | Leave blank for immediate delivery. Your schedule time in unix format [http://help.clicksend.com/what-is-a-unix-timestamp](http://help.clicksend.com/what-is-a-unix-timestamp) |
| require_input | integer(int1) | false | none | Recieve a keypress from the recipient. Flag value must be 1 for yes or 0 for no. |
| machine_detection | integer(int1) | false | none | Detect answering machine or voicemail and leave a message. Flag value must be 1 for yes or 0 for no. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSendVoiceMessageRequest
*/
func (a *VoiceMessagingAPIService) SendVoiceMessage(ctx context.Context) ApiSendVoiceMessageRequest {
	return ApiSendVoiceMessageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SendVoiceMessage
func (a *VoiceMessagingAPIService) SendVoiceMessageExecute(r ApiSendVoiceMessageRequest) (*SendVoiceMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SendVoiceMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceMessagingAPIService.SendVoiceMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/voice/send"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.sendVoiceMessageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewVoiceLanguagesRequest struct {
	ctx context.Context
	ApiService *VoiceMessagingAPIService
	contentType *string
}

func (r ApiViewVoiceLanguagesRequest) ContentType(contentType string) ApiViewVoiceLanguagesRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewVoiceLanguagesRequest) Execute() (*ViewVoiceLanguages, *http.Response, error) {
	return r.ApiService.ViewVoiceLanguagesExecute(r)
}

/*
ViewVoiceLanguages View Voice Languages

_Get all voice languages_


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewVoiceLanguagesRequest
*/
func (a *VoiceMessagingAPIService) ViewVoiceLanguages(ctx context.Context) ApiViewVoiceLanguagesRequest {
	return ApiViewVoiceLanguagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewVoiceLanguages
func (a *VoiceMessagingAPIService) ViewVoiceLanguagesExecute(r ApiViewVoiceLanguagesRequest) (*ViewVoiceLanguages, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewVoiceLanguages
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceMessagingAPIService.ViewVoiceLanguages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/voice/lang"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewVoiceReceiptsRequest struct {
	ctx context.Context
	ApiService *VoiceMessagingAPIService
	contentType *string
}

func (r ApiViewVoiceReceiptsRequest) ContentType(contentType string) ApiViewVoiceReceiptsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewVoiceReceiptsRequest) Execute() (*ViewVoiceReceipts, *http.Response, error) {
	return r.ApiService.ViewVoiceReceiptsExecute(r)
}

/*
ViewVoiceReceipts View Voice Receipts

_Get all voice receipts_

**Push Delivery Receipts**

If you prefer, we can push message replies to your server as they arrive with us.

1. Log into your account.
2. Click on your profile on the top right.
3. Then click on the Messaging Settings option.
4. Click on Voice then Delivery Report Rules.
5. Click the 'Add New Rule' button.
6. Select the 'URL' action.
7. Enter the URL and click 'Save'.
    

The following variables will be posted to the URL specified:

| Variable | Description |
| --- | --- |
| `timestamp_send` | Timestamp of the original send request in UNIX format. e.g 1439173980 |
| `timestamp` | Timestamp of delivery report in UNIX format. e.g 1439173981 |
| `message_id` | Message ID, returned when originally sending the message. |
| `status` | Delivered or Undelivered |
| `status_code` | Status code. Refer to 'Voice Delivery Status Codes' in docs. |
| `status_text` | Status text. |
| `error_code` | Error code. |
| `error_text` | Error text. |
| `custom_string` | A custom string used when sending the original message. |
| `user_id` | The user ID of the user who sent the message. |
| `subaccount_id` | The subaccount ID of the user who sent the message. |
| `message_type` | 'voice' (constant). |
| `digits` | Numbers the recipient pressed on their keypad during the call. A blank string will be used if they didn't provide any input. |

**Pull Delivery Receipts**

Receive delivery reports by polling. You can poll our server and retrieve delivery reports at a time that suits you.

1. Log into your account.
2. Click on your profile on the top right.
3. Then click on the Messaging Settings option.
4. Click on Voice then Delivery Report Rules.
5. Click the 'Add New Rule' button.
6. Select the 'Poll' action.
7. Then click 'Save'.
    

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| page | query | integer(int32) | false | [Page number](/#pagination) |
| limit | query | integer(int32) | false | [Number of records per page](/#pagination) |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewVoiceReceiptsRequest
*/
func (a *VoiceMessagingAPIService) ViewVoiceReceipts(ctx context.Context) ApiViewVoiceReceiptsRequest {
	return ApiViewVoiceReceiptsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewVoiceReceipts
func (a *VoiceMessagingAPIService) ViewVoiceReceiptsExecute(r ApiViewVoiceReceiptsRequest) (*ViewVoiceReceipts, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewVoiceReceipts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceMessagingAPIService.ViewVoiceReceipts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/voice/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
