/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VoiceAPIService VoiceAPI service
type VoiceAPIService service

type ApiCreateVoiceDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *VoiceAPIService
	contentType *string
	createSmsDeliveryReceiptRuleRequest *CreateSmsDeliveryReceiptRuleRequest
}

func (r ApiCreateVoiceDeliveryReceiptRuleRequest) ContentType(contentType string) ApiCreateVoiceDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateVoiceDeliveryReceiptRuleRequest) CreateSmsDeliveryReceiptRuleRequest(createSmsDeliveryReceiptRuleRequest CreateSmsDeliveryReceiptRuleRequest) ApiCreateVoiceDeliveryReceiptRuleRequest {
	r.createSmsDeliveryReceiptRuleRequest = &createSmsDeliveryReceiptRuleRequest
	return r
}

func (r ApiCreateVoiceDeliveryReceiptRuleRequest) Execute() (*CreateVoiceDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.CreateVoiceDeliveryReceiptRuleExecute(r)
}

/*
CreateVoiceDeliveryReceiptRule Create Voice Delivery Receipt Rule

_Create voice delivery receipt automations_

Create voice delivery receipt automations

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| rule_name | string | true | none | Rule Name. |
| match_type | number | true | none | Match Type. 0=All reports. |
| action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). |
| action_address | string | true | none | Action address. |
| enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateVoiceDeliveryReceiptRuleRequest
*/
func (a *VoiceAPIService) CreateVoiceDeliveryReceiptRule(ctx context.Context) ApiCreateVoiceDeliveryReceiptRuleRequest {
	return ApiCreateVoiceDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateVoiceDeliveryReceiptRule
func (a *VoiceAPIService) CreateVoiceDeliveryReceiptRuleExecute(r ApiCreateVoiceDeliveryReceiptRuleRequest) (*CreateVoiceDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateVoiceDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceAPIService.CreateVoiceDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/voice/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createSmsDeliveryReceiptRuleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteVoiceDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *VoiceAPIService
	receiptRuleId string
	contentType *string
}

func (r ApiDeleteVoiceDeliveryReceiptRuleRequest) ContentType(contentType string) ApiDeleteVoiceDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDeleteVoiceDeliveryReceiptRuleRequest) Execute() (*DeleteVoiceDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.DeleteVoiceDeliveryReceiptRuleExecute(r)
}

/*
DeleteVoiceDeliveryReceiptRule Delete Voice Delivery Receipt Rule

_Delete voice delivery receipt automation_

Delete voice delivery receipt automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| receipt_rule_id | path | integer(int32) | true | Receipt rule id |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptRuleId
 @return ApiDeleteVoiceDeliveryReceiptRuleRequest
*/
func (a *VoiceAPIService) DeleteVoiceDeliveryReceiptRule(ctx context.Context, receiptRuleId string) ApiDeleteVoiceDeliveryReceiptRuleRequest {
	return ApiDeleteVoiceDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
		receiptRuleId: receiptRuleId,
	}
}

// Execute executes the request
//  @return DeleteVoiceDeliveryReceiptRule
func (a *VoiceAPIService) DeleteVoiceDeliveryReceiptRuleExecute(r ApiDeleteVoiceDeliveryReceiptRuleRequest) (*DeleteVoiceDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteVoiceDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceAPIService.DeleteVoiceDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/voice/receipts/{receipt_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"receipt_rule_id"+"}", url.PathEscape(parameterValueToString(r.receiptRuleId, "receiptRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateVoiceDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *VoiceAPIService
	receiptRuleId string
	contentType *string
	createSmsDeliveryReceiptRuleRequest *CreateSmsDeliveryReceiptRuleRequest
}

func (r ApiUpdateVoiceDeliveryReceiptRuleRequest) ContentType(contentType string) ApiUpdateVoiceDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateVoiceDeliveryReceiptRuleRequest) CreateSmsDeliveryReceiptRuleRequest(createSmsDeliveryReceiptRuleRequest CreateSmsDeliveryReceiptRuleRequest) ApiUpdateVoiceDeliveryReceiptRuleRequest {
	r.createSmsDeliveryReceiptRuleRequest = &createSmsDeliveryReceiptRuleRequest
	return r
}

func (r ApiUpdateVoiceDeliveryReceiptRuleRequest) Execute() (*UpdateVoiceDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.UpdateVoiceDeliveryReceiptRuleExecute(r)
}

/*
UpdateVoiceDeliveryReceiptRule Update Voice Delivery Receipt Rule

_Update voice delivery receipt automation_

Update voice delivery receipt automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| receipt_rule_id | path | integer(int32) | true | Receipt rule id |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| rule_name | string | true | none | Rule Name. |
| match_type | number | true | none | Match Type. 0=All reports. |
| action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). |
| action_address | string | true | none | Action address. |
| enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptRuleId
 @return ApiUpdateVoiceDeliveryReceiptRuleRequest
*/
func (a *VoiceAPIService) UpdateVoiceDeliveryReceiptRule(ctx context.Context, receiptRuleId string) ApiUpdateVoiceDeliveryReceiptRuleRequest {
	return ApiUpdateVoiceDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
		receiptRuleId: receiptRuleId,
	}
}

// Execute executes the request
//  @return UpdateVoiceDeliveryReceiptRule
func (a *VoiceAPIService) UpdateVoiceDeliveryReceiptRuleExecute(r ApiUpdateVoiceDeliveryReceiptRuleRequest) (*UpdateVoiceDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateVoiceDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceAPIService.UpdateVoiceDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/voice/receipts/{receipt_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"receipt_rule_id"+"}", url.PathEscape(parameterValueToString(r.receiptRuleId, "receiptRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createSmsDeliveryReceiptRuleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewVoiceDeliveryReceiptRuleRequest struct {
	ctx context.Context
	ApiService *VoiceAPIService
	receiptRuleId string
	contentType *string
}

func (r ApiViewVoiceDeliveryReceiptRuleRequest) ContentType(contentType string) ApiViewVoiceDeliveryReceiptRuleRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewVoiceDeliveryReceiptRuleRequest) Execute() (*ViewVoiceDeliveryReceiptRule, *http.Response, error) {
	return r.ApiService.ViewVoiceDeliveryReceiptRuleExecute(r)
}

/*
ViewVoiceDeliveryReceiptRule View Voice Delivery Receipt Rule

_Get specific voice delivery receipt automation_

Get specific voice delivery receipt automation

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| receipt_rule_id | path | integer(int32) | true | Receipt rule id |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptRuleId
 @return ApiViewVoiceDeliveryReceiptRuleRequest
*/
func (a *VoiceAPIService) ViewVoiceDeliveryReceiptRule(ctx context.Context, receiptRuleId string) ApiViewVoiceDeliveryReceiptRuleRequest {
	return ApiViewVoiceDeliveryReceiptRuleRequest{
		ApiService: a,
		ctx: ctx,
		receiptRuleId: receiptRuleId,
	}
}

// Execute executes the request
//  @return ViewVoiceDeliveryReceiptRule
func (a *VoiceAPIService) ViewVoiceDeliveryReceiptRuleExecute(r ApiViewVoiceDeliveryReceiptRuleRequest) (*ViewVoiceDeliveryReceiptRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewVoiceDeliveryReceiptRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceAPIService.ViewVoiceDeliveryReceiptRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/voice/receipts/{receipt_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"receipt_rule_id"+"}", url.PathEscape(parameterValueToString(r.receiptRuleId, "receiptRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewVoiceDeliveryReceiptRulesRequest struct {
	ctx context.Context
	ApiService *VoiceAPIService
	contentType *string
}

func (r ApiViewVoiceDeliveryReceiptRulesRequest) ContentType(contentType string) ApiViewVoiceDeliveryReceiptRulesRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewVoiceDeliveryReceiptRulesRequest) Execute() (*ViewVoiceDeliveryReceiptRules, *http.Response, error) {
	return r.ApiService.ViewVoiceDeliveryReceiptRulesExecute(r)
}

/*
ViewVoiceDeliveryReceiptRules View Voice Delivery Receipt Rules

_Get all voice delivery receipt automations_

Get all voice delivery receipt automations

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| page | query | integer(int32) | false | Page number |
| limit | query | integer(int32) | false | Number of records per page |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewVoiceDeliveryReceiptRulesRequest
*/
func (a *VoiceAPIService) ViewVoiceDeliveryReceiptRules(ctx context.Context) ApiViewVoiceDeliveryReceiptRulesRequest {
	return ApiViewVoiceDeliveryReceiptRulesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewVoiceDeliveryReceiptRules
func (a *VoiceAPIService) ViewVoiceDeliveryReceiptRulesExecute(r ApiViewVoiceDeliveryReceiptRulesRequest) (*ViewVoiceDeliveryReceiptRules, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewVoiceDeliveryReceiptRules
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VoiceAPIService.ViewVoiceDeliveryReceiptRules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/automations/voice/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
