/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SubaccountsAPIService SubaccountsAPI service
type SubaccountsAPIService service

type ApiCreateSubaccountRequest struct {
	ctx context.Context
	ApiService *SubaccountsAPIService
	contentType *string
	createSubaccountRequest *CreateSubaccountRequest
}

func (r ApiCreateSubaccountRequest) ContentType(contentType string) ApiCreateSubaccountRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateSubaccountRequest) CreateSubaccountRequest(createSubaccountRequest CreateSubaccountRequest) ApiCreateSubaccountRequest {
	r.createSubaccountRequest = &createSubaccountRequest
	return r
}

func (r ApiCreateSubaccountRequest) Execute() (*CreateSubaccount, *http.Response, error) {
	return r.ApiService.CreateSubaccountExecute(r)
}

/*
CreateSubaccount Create Subaccount

_Create new subaccount_

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| api_username | string | true | none | Your new api username. |
| password | string | true | none | Your new password |
| email | string | true | none | Your new email. |
| phone_number | string | true | none | Your phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format. |
| first_name | string | true | none | Your firstname |
| last_name | string | true | none | Your lastname |
| access_users | integer(int1) | false | none | Flag value must be 1 for yes or 0 for no. |
| access_billing | integer(int1) | false | none | Flag value must be 1 for yes or 0 for no. |
| access_reporting | integer(int1) | false | none | Flag value must be 1 for yes or 0 for no. |
| access_contacts | integer(int1) | false | none | Flag value must be 1 for yes or 0 for no. |
| access_settings | integer(int1) | false | none | Flag value must be 1 for yes or 0 for no. |

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.

<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSubaccountRequest
*/
func (a *SubaccountsAPIService) CreateSubaccount(ctx context.Context) ApiCreateSubaccountRequest {
	return ApiCreateSubaccountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateSubaccount
func (a *SubaccountsAPIService) CreateSubaccountExecute(r ApiCreateSubaccountRequest) (*CreateSubaccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSubaccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubaccountsAPIService.CreateSubaccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/subaccounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createSubaccountRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteSubaccountRequest struct {
	ctx context.Context
	ApiService *SubaccountsAPIService
	subaccountId string
	contentType *string
}

func (r ApiDeleteSubaccountRequest) ContentType(contentType string) ApiDeleteSubaccountRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDeleteSubaccountRequest) Execute() (*DeleteSubaccount, *http.Response, error) {
	return r.ApiService.DeleteSubaccountExecute(r)
}

/*
DeleteSubaccount Delete Subaccount

_Delete a subaccount_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| subaccount_id | path | integer(int32) | true | ID of subaccount to delete |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param subaccountId
 @return ApiDeleteSubaccountRequest
*/
func (a *SubaccountsAPIService) DeleteSubaccount(ctx context.Context, subaccountId string) ApiDeleteSubaccountRequest {
	return ApiDeleteSubaccountRequest{
		ApiService: a,
		ctx: ctx,
		subaccountId: subaccountId,
	}
}

// Execute executes the request
//  @return DeleteSubaccount
func (a *SubaccountsAPIService) DeleteSubaccountExecute(r ApiDeleteSubaccountRequest) (*DeleteSubaccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteSubaccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubaccountsAPIService.DeleteSubaccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/subaccounts/{subaccount_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"subaccount_id"+"}", url.PathEscape(parameterValueToString(r.subaccountId, "subaccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGenerateNewApiKeyRequest struct {
	ctx context.Context
	ApiService *SubaccountsAPIService
	subaccountId string
	contentType *string
	generateNewApiKeyRequest *GenerateNewApiKeyRequest
}

func (r ApiGenerateNewApiKeyRequest) ContentType(contentType string) ApiGenerateNewApiKeyRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGenerateNewApiKeyRequest) GenerateNewApiKeyRequest(generateNewApiKeyRequest GenerateNewApiKeyRequest) ApiGenerateNewApiKeyRequest {
	r.generateNewApiKeyRequest = &generateNewApiKeyRequest
	return r
}

func (r ApiGenerateNewApiKeyRequest) Execute() (*GenerateNewApiKey, *http.Response, error) {
	return r.ApiService.GenerateNewApiKeyExecute(r)
}

/*
GenerateNewApiKey Generate New API Key

_Regenerate an API Key_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| subaccount_id | path | integer(int32) | true | ID of subaccount to regenerate API key for |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param subaccountId
 @return ApiGenerateNewApiKeyRequest
*/
func (a *SubaccountsAPIService) GenerateNewApiKey(ctx context.Context, subaccountId string) ApiGenerateNewApiKeyRequest {
	return ApiGenerateNewApiKeyRequest{
		ApiService: a,
		ctx: ctx,
		subaccountId: subaccountId,
	}
}

// Execute executes the request
//  @return GenerateNewApiKey
func (a *SubaccountsAPIService) GenerateNewApiKeyExecute(r ApiGenerateNewApiKeyRequest) (*GenerateNewApiKey, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GenerateNewApiKey
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubaccountsAPIService.GenerateNewApiKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/subaccounts/{subaccount_id}/regen-api-key"
	localVarPath = strings.Replace(localVarPath, "{"+"subaccount_id"+"}", url.PathEscape(parameterValueToString(r.subaccountId, "subaccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.generateNewApiKeyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateSubaccountRequest struct {
	ctx context.Context
	ApiService *SubaccountsAPIService
	subaccountId string
	contentType *string
	updateSubaccountRequest *UpdateSubaccountRequest
}

func (r ApiUpdateSubaccountRequest) ContentType(contentType string) ApiUpdateSubaccountRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateSubaccountRequest) UpdateSubaccountRequest(updateSubaccountRequest UpdateSubaccountRequest) ApiUpdateSubaccountRequest {
	r.updateSubaccountRequest = &updateSubaccountRequest
	return r
}

func (r ApiUpdateSubaccountRequest) Execute() (*UpdateSubaccount, *http.Response, error) {
	return r.ApiService.UpdateSubaccountExecute(r)
}

/*
UpdateSubaccount Update Subaccount

_Update subaccount_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| subaccount_id | path | integer(int32) | true | ID of subaccount to update |

### Properties

| Name | Type | Required | Restrictions | Description |
| --- | --- | --- | --- | --- |
| api_username | string | true | none | Your new api username. |
| password | string | true | none | Your new password |
| email | string | true | none | Your new email. |
| phone_number | string | true | none | Your phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format. |
| first_name | string | true | none | Your firstname |
| last_name | string | true | none | Your lastname |
| access_users | integer(int1) | false | none | Flag value must be 1 for yes or 0 for no. |
| access_billing | integer(int1) | false | none | Flag value must be 1 for yes or 0 for no. |
| access_reporting | integer(int1) | false | none | Flag value must be 1 for yes or 0 for no. |
| access_contacts | integer(int1) | false | none | Flag value must be 1 for yes or 0 for no. |
| access_settings | integer(int1) | false | none | Flag value must be 1 for yes or 0 for no. |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param subaccountId
 @return ApiUpdateSubaccountRequest
*/
func (a *SubaccountsAPIService) UpdateSubaccount(ctx context.Context, subaccountId string) ApiUpdateSubaccountRequest {
	return ApiUpdateSubaccountRequest{
		ApiService: a,
		ctx: ctx,
		subaccountId: subaccountId,
	}
}

// Execute executes the request
//  @return UpdateSubaccount
func (a *SubaccountsAPIService) UpdateSubaccountExecute(r ApiUpdateSubaccountRequest) (*UpdateSubaccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateSubaccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubaccountsAPIService.UpdateSubaccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/subaccounts/{subaccount_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"subaccount_id"+"}", url.PathEscape(parameterValueToString(r.subaccountId, "subaccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.updateSubaccountRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewSpecificSubaccountRequest struct {
	ctx context.Context
	ApiService *SubaccountsAPIService
	subaccountId string
	contentType *string
}

func (r ApiViewSpecificSubaccountRequest) ContentType(contentType string) ApiViewSpecificSubaccountRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewSpecificSubaccountRequest) Execute() (*ViewSpecificSubaccount, *http.Response, error) {
	return r.ApiService.ViewSpecificSubaccountExecute(r)
}

/*
ViewSpecificSubaccount View Specific Subaccount

_Get specific subaccount_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| subaccount_id | path | integer(int32) | true | ID of subaccount to get |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param subaccountId
 @return ApiViewSpecificSubaccountRequest
*/
func (a *SubaccountsAPIService) ViewSpecificSubaccount(ctx context.Context, subaccountId string) ApiViewSpecificSubaccountRequest {
	return ApiViewSpecificSubaccountRequest{
		ApiService: a,
		ctx: ctx,
		subaccountId: subaccountId,
	}
}

// Execute executes the request
//  @return ViewSpecificSubaccount
func (a *SubaccountsAPIService) ViewSpecificSubaccountExecute(r ApiViewSpecificSubaccountRequest) (*ViewSpecificSubaccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewSpecificSubaccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubaccountsAPIService.ViewSpecificSubaccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/subaccounts/{subaccount_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"subaccount_id"+"}", url.PathEscape(parameterValueToString(r.subaccountId, "subaccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewSubaccountsRequest struct {
	ctx context.Context
	ApiService *SubaccountsAPIService
	contentType *string
}

func (r ApiViewSubaccountsRequest) ContentType(contentType string) ApiViewSubaccountsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewSubaccountsRequest) Execute() (*ViewSubaccounts, *http.Response, error) {
	return r.ApiService.ViewSubaccountsExecute(r)
}

/*
ViewSubaccounts View Subaccounts

_Get all subaccounts_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| page | query | integer(int32) | false | [Page number](/#pagination) |
| limit | query | integer(int32) | false | [Number of records per page](/#pagination) |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewSubaccountsRequest
*/
func (a *SubaccountsAPIService) ViewSubaccounts(ctx context.Context) ApiViewSubaccountsRequest {
	return ApiViewSubaccountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewSubaccounts
func (a *SubaccountsAPIService) ViewSubaccountsExecute(r ApiViewSubaccountsRequest) (*ViewSubaccounts, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewSubaccounts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubaccountsAPIService.ViewSubaccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/subaccounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
