/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// NumbersAPIService NumbersAPI service
type NumbersAPIService service

type ApiPurchaseDedicatedNumberRequest struct {
	ctx context.Context
	ApiService *NumbersAPIService
	dedicatedNumber string
	buyNumberRequest *BuyNumberRequest
	contentType *string
	type_ *string
}

func (r ApiPurchaseDedicatedNumberRequest) BuyNumberRequest(buyNumberRequest BuyNumberRequest) ApiPurchaseDedicatedNumberRequest {
	r.buyNumberRequest = &buyNumberRequest
	return r
}

func (r ApiPurchaseDedicatedNumberRequest) ContentType(contentType string) ApiPurchaseDedicatedNumberRequest {
	r.contentType = &contentType
	return r
}

func (r ApiPurchaseDedicatedNumberRequest) Type_(type_ string) ApiPurchaseDedicatedNumberRequest {
	r.type_ = &type_
	return r
}

func (r ApiPurchaseDedicatedNumberRequest) Execute() (*PurchaseDedicatedNumber, *http.Response, error) {
	return r.ApiService.PurchaseDedicatedNumberExecute(r)
}

/*
PurchaseDedicatedNumber Purchase Dedicated Number

_Buy dedicated number_

This endpoint allows you to purchase a dedicated phone number for messaging services. You can optionally include registration data for compliance purposes.

### Request Body

| Field | Type | Required | Description |
| --- | --- | --- | --- |
| dedicated_number | string | true | Phone number to purchase |
| type | string | true | Service type (sms, mms) |
| registration_data | object | false | Registration data for compliance (AU SMS/MMS numbers only) |

#### Registration Data Fields (Optional)

| Field | Type | Required | Description |
| --- | --- | --- | --- |
| business_name | string | true | Name of the business (2 - 100 characters) |
| business_address | string | true | Business address (5 - 150 characters) |
| suburb | string | true | Suburb/City (2 - 50 characters) |
| postcode | string | true | Postal code (2 - 20 characters) |
| state | string | true | State/Province (2 - 50 characters) |
| contact_name | string | true | Contact person name (2 - 100 characters) |
| contact_number | string | true | Contact phone number (valid local or international phone number) |
| country | string | true | Country code (ISO 3166-1 alpha-2) |


### Path Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| dedicated_number | path | string | true | Phone number to purchase |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dedicatedNumber Phone number to purchase
 @return ApiPurchaseDedicatedNumberRequest
*/
func (a *NumbersAPIService) PurchaseDedicatedNumber(ctx context.Context, dedicatedNumber string) ApiPurchaseDedicatedNumberRequest {
	return ApiPurchaseDedicatedNumberRequest{
		ApiService: a,
		ctx: ctx,
		dedicatedNumber: dedicatedNumber,
	}
}

// Execute executes the request
//  @return PurchaseDedicatedNumber
func (a *NumbersAPIService) PurchaseDedicatedNumberExecute(r ApiPurchaseDedicatedNumberRequest) (*PurchaseDedicatedNumber, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PurchaseDedicatedNumber
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NumbersAPIService.PurchaseDedicatedNumber")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/numbers/buy/{dedicated_number}"
	localVarPath = strings.Replace(localVarPath, "{"+"dedicated_number"+"}", url.PathEscape(parameterValueToString(r.dedicatedNumber, "dedicatedNumber")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.buyNumberRequest == nil {
		return localVarReturnValue, nil, reportError("buyNumberRequest is required and must be specified")
	}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.buyNumberRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRegisterNumbersRequest struct {
	ctx context.Context
	ApiService *NumbersAPIService
	numberType string
	countryCode string
	contentType *string
	registerNumbersRequest *RegisterNumbersRequest
}

func (r ApiRegisterNumbersRequest) ContentType(contentType string) ApiRegisterNumbersRequest {
	r.contentType = &contentType
	return r
}

func (r ApiRegisterNumbersRequest) RegisterNumbersRequest(registerNumbersRequest RegisterNumbersRequest) ApiRegisterNumbersRequest {
	r.registerNumbersRequest = &registerNumbersRequest
	return r
}

func (r ApiRegisterNumbersRequest) Execute() (*RegisterNumbers, *http.Response, error) {
	return r.ApiService.RegisterNumbersExecute(r)
}

/*
RegisterNumbers Register Numbers

<div style="background-color: #e8f4ff; padding: 15px; border-radius: 4px; border-left: 4px solid #0066cc;">
This endpoint is currently only available for <b>Canada 10DLC</b> number registration.
</div>

Registers a number that requires additional verification information. This endpoint facilitates the registration process for numbers requiring special compliance documentation.

After submission, ClickSend's compliance team will review the registration and notify you of the approval status.

Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.
<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param numberType The type of number being registered
 @param countryCode Two-character ISO country code
 @return ApiRegisterNumbersRequest
*/
func (a *NumbersAPIService) RegisterNumbers(ctx context.Context, numberType string, countryCode string) ApiRegisterNumbersRequest {
	return ApiRegisterNumbersRequest{
		ApiService: a,
		ctx: ctx,
		numberType: numberType,
		countryCode: countryCode,
	}
}

// Execute executes the request
//  @return RegisterNumbers
func (a *NumbersAPIService) RegisterNumbersExecute(r ApiRegisterNumbersRequest) (*RegisterNumbers, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RegisterNumbers
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NumbersAPIService.RegisterNumbers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/numbers/registrations/number-types/{number_type}/country/{country_code}"
	localVarPath = strings.Replace(localVarPath, "{"+"number_type"+"}", url.PathEscape(parameterValueToString(r.numberType, "numberType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"country_code"+"}", url.PathEscape(parameterValueToString(r.countryCode, "countryCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.countryCode) < 2 {
		return localVarReturnValue, nil, reportError("countryCode must have at least 2 elements")
	}
	if strlen(r.countryCode) > 2 {
		return localVarReturnValue, nil, reportError("countryCode must have less than 2 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.registerNumbersRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Model400Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewAvailableNumbersRequest struct {
	ctx context.Context
	ApiService *NumbersAPIService
	country string
	contentType *string
}

func (r ApiViewAvailableNumbersRequest) ContentType(contentType string) ApiViewAvailableNumbersRequest {
	r.contentType = &contentType
	return r
}

func (r ApiViewAvailableNumbersRequest) Execute() (*ViewAvailableNumbers, *http.Response, error) {
	return r.ApiService.ViewAvailableNumbersExecute(r)
}

/*
ViewAvailableNumbers View Available Numbers

_Get all dedicated numbers by country_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| country | path | string | true | Country code to search |
| search | query | string | false | Your search pattern or query. |
| search_type | query | integer(int32) | false | Your strategy for searching, 0 = starts with, 1 = anywhere, 2 = ends with. |
| page | query | integer(int32) | false | [Page number](/#pagination) |
| limit | query | integer(int32) | false | [Number of records per page](/#pagination) |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param country
 @return ApiViewAvailableNumbersRequest
*/
func (a *NumbersAPIService) ViewAvailableNumbers(ctx context.Context, country string) ApiViewAvailableNumbersRequest {
	return ApiViewAvailableNumbersRequest{
		ApiService: a,
		ctx: ctx,
		country: country,
	}
}

// Execute executes the request
//  @return ViewAvailableNumbers
func (a *NumbersAPIService) ViewAvailableNumbersExecute(r ApiViewAvailableNumbersRequest) (*ViewAvailableNumbers, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewAvailableNumbers
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NumbersAPIService.ViewAvailableNumbers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/numbers/search/{country}"
	localVarPath = strings.Replace(localVarPath, "{"+"country"+"}", url.PathEscape(parameterValueToString(r.country, "country")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiViewYourNumbersRequest struct {
	ctx context.Context
	ApiService *NumbersAPIService
	contentType *string
	page *int32
	limit *int32
	q *string
	q2 *string
	excludingNumberType *string
	exclude10dlcCampaign *bool
}

func (r ApiViewYourNumbersRequest) ContentType(contentType string) ApiViewYourNumbersRequest {
	r.contentType = &contentType
	return r
}

// Page number
func (r ApiViewYourNumbersRequest) Page(page int32) ApiViewYourNumbersRequest {
	r.page = &page
	return r
}

// Number of records per page
func (r ApiViewYourNumbersRequest) Limit(limit int32) ApiViewYourNumbersRequest {
	r.limit = &limit
	return r
}

// Filter numbers based on multiple criteria. The query string should be formatted as key-value pairs separated by commas. Available filter keys: - &#x60;type&#x60;: Message type (e.g., &#x60;SMS&#x60;, &#x60;MMS&#x60;) - &#x60;number_type&#x60;: Number classification (e.g., &#x60;longcode&#x60;, &#x60;shortcode&#x60;, &#x60;tollfree&#x60;, &#x60;10DLC&#x60;) - &#x60;country&#x60;: Two-letter country code (e.g., &#x60;AU&#x60;, &#x60;US&#x60;) 
func (r ApiViewYourNumbersRequest) Q(q string) ApiViewYourNumbersRequest {
	r.q = &q
	return r
}

func (r ApiViewYourNumbersRequest) Q2(q2 string) ApiViewYourNumbersRequest {
	r.q2 = &q2
	return r
}

// Exclude specific number types from the results. Available number types: - &#x60;shortcode&#x60; - &#x60;tollfree&#x60; - &#x60;10DLC&#x60; 
func (r ApiViewYourNumbersRequest) ExcludingNumberType(excludingNumberType string) ApiViewYourNumbersRequest {
	r.excludingNumberType = &excludingNumberType
	return r
}

// When set to true, excludes all numbers that are associated with 10DLC campaigns
func (r ApiViewYourNumbersRequest) Exclude10dlcCampaign(exclude10dlcCampaign bool) ApiViewYourNumbersRequest {
	r.exclude10dlcCampaign = &exclude10dlcCampaign
	return r
}

func (r ApiViewYourNumbersRequest) Execute() (*ViewYourNumbers, *http.Response, error) {
	return r.ApiService.ViewYourNumbersExecute(r)
}

/*
ViewYourNumbers View Your Numbers

_Get all available dedicated numbers_

### Parameters

| Parameter | In | Type | Required | Description |
| --- | --- | --- | --- | --- |
| page | query | integer(int32) | false | [Page number](/#pagination) |
| limit | query | integer(int32) | false | [Number of records per page](/#pagination) |
| q | query | string | false | Filter numbers based on multiple criteria. The query string should be formatted as key-value pairs separated by commas. Available filter keys: `type`, `number_type`, `country` |
| q2 | query | string | false | Filter numbers based on multiple criteria. The query string should be formatted as key-value pairs separated by commas. Available filter keys: `type` |
| excluding_number_type | query | string | false | Exclude specific number types from the results. Available number types: `shortcode`, `tollfree`, `10DLC` |
| exclude_10dlc_campaign | query | boolean | false | When set to true, excludes all numbers that are associated with 10DLC campaigns |


Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.


<div style="background-color: #FF6A4B; padding: 10px; border-radius: 8px;">
  <span style="color: white;">This endpoint requires authentication,</span> 
  <a href="/docs/#authentication" style="color: white; text-decoration: underline;">more info...</a>
</div>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiViewYourNumbersRequest
*/
func (a *NumbersAPIService) ViewYourNumbers(ctx context.Context) ApiViewYourNumbersRequest {
	return ApiViewYourNumbersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ViewYourNumbers
func (a *NumbersAPIService) ViewYourNumbersExecute(r ApiViewYourNumbersRequest) (*ViewYourNumbers, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewYourNumbers
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NumbersAPIService.ViewYourNumbers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/numbers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 15
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.q2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q2", r.q2, "form", "")
	}
	if r.excludingNumberType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "excluding_number_type", r.excludingNumberType, "form", "")
	}
	if r.exclude10dlcCampaign != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_10dlc_campaign", r.exclude10dlcCampaign, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_10dlc_campaign", defaultValue, "form", "")
		r.exclude10dlcCampaign = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
