/*
SMS

You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clicksend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// DefaultSendersAPIService DefaultSendersAPI service
type DefaultSendersAPIService service

type ApiCreateDefaultSenderRequest struct {
	ctx context.Context
	ApiService *DefaultSendersAPIService
	contentType *string
	createDefaultSenderRequest *CreateDefaultSenderRequest
}

func (r ApiCreateDefaultSenderRequest) ContentType(contentType string) ApiCreateDefaultSenderRequest {
	r.contentType = &contentType
	return r
}

func (r ApiCreateDefaultSenderRequest) CreateDefaultSenderRequest(createDefaultSenderRequest CreateDefaultSenderRequest) ApiCreateDefaultSenderRequest {
	r.createDefaultSenderRequest = &createDefaultSenderRequest
	return r
}

func (r ApiCreateDefaultSenderRequest) Execute() (*CreateDefaultSender, *http.Response, error) {
	return r.ApiService.CreateDefaultSenderExecute(r)
}

/*
CreateDefaultSender Create Default Sender

Creates a new default sender configuration to automate the selection of compliant SenderIDs.
By configuring a default sender you no longer need to define the `sender_id` string when sending SMS messages. The default sender will be picked up automatically.

For more information on Sender IDs, please refer to [What is a Sender ID or Sender Number?](https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDefaultSenderRequest
*/
func (a *DefaultSendersAPIService) CreateDefaultSender(ctx context.Context) ApiCreateDefaultSenderRequest {
	return ApiCreateDefaultSenderRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateDefaultSender
func (a *DefaultSendersAPIService) CreateDefaultSenderExecute(r ApiCreateDefaultSenderRequest) (*CreateDefaultSender, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateDefaultSender
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultSendersAPIService.CreateDefaultSender")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/senders/default-senders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.createDefaultSenderRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v DefaultSenderError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteDefaultSenderRequest struct {
	ctx context.Context
	ApiService *DefaultSendersAPIService
	defaultSenderId string
	contentType *string
}

func (r ApiDeleteDefaultSenderRequest) ContentType(contentType string) ApiDeleteDefaultSenderRequest {
	r.contentType = &contentType
	return r
}

func (r ApiDeleteDefaultSenderRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteDefaultSenderExecute(r)
}

/*
DeleteDefaultSender Delete Default Sender

Removes a specified default sender setting. 
If you don't configure a default sender and leave the `sender_id` string blank when sending an SMS,
Smart Assign will pick the best suitable, compliant, available SenderID for you.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param defaultSenderId The ID of the default sender to delete
 @return ApiDeleteDefaultSenderRequest
*/
func (a *DefaultSendersAPIService) DeleteDefaultSender(ctx context.Context, defaultSenderId string) ApiDeleteDefaultSenderRequest {
	return ApiDeleteDefaultSenderRequest{
		ApiService: a,
		ctx: ctx,
		defaultSenderId: defaultSenderId,
	}
}

// Execute executes the request
func (a *DefaultSendersAPIService) DeleteDefaultSenderExecute(r ApiDeleteDefaultSenderRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultSendersAPIService.DeleteDefaultSender")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/senders/default-senders/{default_sender_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"default_sender_id"+"}", url.PathEscape(parameterValueToString(r.defaultSenderId, "defaultSenderId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetDefaultSenderDetailsRequest struct {
	ctx context.Context
	ApiService *DefaultSendersAPIService
	defaultSenderId string
	contentType *string
}

func (r ApiGetDefaultSenderDetailsRequest) ContentType(contentType string) ApiGetDefaultSenderDetailsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGetDefaultSenderDetailsRequest) Execute() (*GetDefaultSenderDetails, *http.Response, error) {
	return r.ApiService.GetDefaultSenderDetailsExecute(r)
}

/*
GetDefaultSenderDetails Get Default Sender Details

Retrieve detailed information about a specific default sender configuration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param defaultSenderId The ID of the default sender to retrieve
 @return ApiGetDefaultSenderDetailsRequest
*/
func (a *DefaultSendersAPIService) GetDefaultSenderDetails(ctx context.Context, defaultSenderId string) ApiGetDefaultSenderDetailsRequest {
	return ApiGetDefaultSenderDetailsRequest{
		ApiService: a,
		ctx: ctx,
		defaultSenderId: defaultSenderId,
	}
}

// Execute executes the request
//  @return GetDefaultSenderDetails
func (a *DefaultSendersAPIService) GetDefaultSenderDetailsExecute(r ApiGetDefaultSenderDetailsRequest) (*GetDefaultSenderDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetDefaultSenderDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultSendersAPIService.GetDefaultSenderDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/senders/default-senders/{default_sender_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"default_sender_id"+"}", url.PathEscape(parameterValueToString(r.defaultSenderId, "defaultSenderId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDefaultSendersListRequest struct {
	ctx context.Context
	ApiService *DefaultSendersAPIService
	contentType *string
	offset *string
	perPage *int32
	sortBy *string
	sortDirection *string
}

func (r ApiGetDefaultSendersListRequest) ContentType(contentType string) ApiGetDefaultSendersListRequest {
	r.contentType = &contentType
	return r
}

// Page (offset) to be used for pagination
func (r ApiGetDefaultSendersListRequest) Offset(offset string) ApiGetDefaultSendersListRequest {
	r.offset = &offset
	return r
}

// Size of the page in pagination
func (r ApiGetDefaultSendersListRequest) PerPage(perPage int32) ApiGetDefaultSendersListRequest {
	r.perPage = &perPage
	return r
}

// Parameter to sort the results by
func (r ApiGetDefaultSendersListRequest) SortBy(sortBy string) ApiGetDefaultSendersListRequest {
	r.sortBy = &sortBy
	return r
}

// Direction of sorting
func (r ApiGetDefaultSendersListRequest) SortDirection(sortDirection string) ApiGetDefaultSendersListRequest {
	r.sortDirection = &sortDirection
	return r
}

func (r ApiGetDefaultSendersListRequest) Execute() (*GetDefaultSendersList, *http.Response, error) {
	return r.ApiService.GetDefaultSendersListExecute(r)
}

/*
GetDefaultSendersList Get List of Default Senders

Retrieve a list of default senders for the current user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetDefaultSendersListRequest
*/
func (a *DefaultSendersAPIService) GetDefaultSendersList(ctx context.Context) ApiGetDefaultSendersListRequest {
	return ApiGetDefaultSendersListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetDefaultSendersList
func (a *DefaultSendersAPIService) GetDefaultSendersListExecute(r ApiGetDefaultSendersListRequest) (*GetDefaultSendersList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetDefaultSendersList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultSendersAPIService.GetDefaultSendersList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/senders/default-senders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "form", "")
		r.perPage = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	} else {
		var defaultValue string = "created_timestamp"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", defaultValue, "form", "")
		r.sortBy = &defaultValue
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", r.sortDirection, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", defaultValue, "form", "")
		r.sortDirection = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCompliantSenderTypesRequest struct {
	ctx context.Context
	ApiService *DefaultSendersAPIService
	filterProductType *string
	filterCountryCodeIndex *[]string
}

// Type of the product
func (r ApiListCompliantSenderTypesRequest) FilterProductType(filterProductType string) ApiListCompliantSenderTypesRequest {
	r.filterProductType = &filterProductType
	return r
}

// Array of recipient country codes (ISO 3166-1 alpha-2). If not specified, will get all compliant sender types for all countries. Replace &#x60;{index}&#x60; with the appropriate index value.  &lt;small&gt;Example:&lt;/small&gt; &lt;small&gt;&lt;code style&#x3D;\&quot;color: #424242;\&quot;&gt;filter[country_code][0]&#x3D;US&amp;filter[country_code][1]&#x3D;AU&lt;/code&gt;&lt;/small&gt; 
func (r ApiListCompliantSenderTypesRequest) FilterCountryCodeIndex(filterCountryCodeIndex []string) ApiListCompliantSenderTypesRequest {
	r.filterCountryCodeIndex = &filterCountryCodeIndex
	return r
}

func (r ApiListCompliantSenderTypesRequest) Execute() (*ListCompliantSenderTypes200Response, *http.Response, error) {
	return r.ApiService.ListCompliantSenderTypesExecute(r)
}

/*
ListCompliantSenderTypes List Compliant Sender Types

Retrieves the list of compliant sender types for specific countries

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCompliantSenderTypesRequest
*/
func (a *DefaultSendersAPIService) ListCompliantSenderTypes(ctx context.Context) ApiListCompliantSenderTypesRequest {
	return ApiListCompliantSenderTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListCompliantSenderTypes200Response
func (a *DefaultSendersAPIService) ListCompliantSenderTypesExecute(r ApiListCompliantSenderTypesRequest) (*ListCompliantSenderTypes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListCompliantSenderTypes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultSendersAPIService.ListCompliantSenderTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/senders/compliant-sender-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.filterProductType == nil {
		return localVarReturnValue, nil, reportError("filterProductType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "filter[product_type]", r.filterProductType, "form", "")
	if r.filterCountryCodeIndex != nil {
		t := *r.filterCountryCodeIndex
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[country_code][{index}]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[country_code][{index}]", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateDefaultSenderRequest struct {
	ctx context.Context
	ApiService *DefaultSendersAPIService
	defaultSenderId string
	contentType *string
	updateDefaultSenderRequest *UpdateDefaultSenderRequest
}

func (r ApiUpdateDefaultSenderRequest) ContentType(contentType string) ApiUpdateDefaultSenderRequest {
	r.contentType = &contentType
	return r
}

func (r ApiUpdateDefaultSenderRequest) UpdateDefaultSenderRequest(updateDefaultSenderRequest UpdateDefaultSenderRequest) ApiUpdateDefaultSenderRequest {
	r.updateDefaultSenderRequest = &updateDefaultSenderRequest
	return r
}

func (r ApiUpdateDefaultSenderRequest) Execute() (*UpdateDefaultSender, *http.Response, error) {
	return r.ApiService.UpdateDefaultSenderExecute(r)
}

/*
UpdateDefaultSender Update Default Sender

Updates the details of an existing default sender configuration.

For more information on Sender IDs, please refer to [What is a Sender ID or Sender Number?](https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param defaultSenderId The ID of the default sender to update
 @return ApiUpdateDefaultSenderRequest
*/
func (a *DefaultSendersAPIService) UpdateDefaultSender(ctx context.Context, defaultSenderId string) ApiUpdateDefaultSenderRequest {
	return ApiUpdateDefaultSenderRequest{
		ApiService: a,
		ctx: ctx,
		defaultSenderId: defaultSenderId,
	}
}

// Execute executes the request
//  @return UpdateDefaultSender
func (a *DefaultSendersAPIService) UpdateDefaultSenderExecute(r ApiUpdateDefaultSenderRequest) (*UpdateDefaultSender, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateDefaultSender
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultSendersAPIService.UpdateDefaultSender")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/senders/default-senders/{default_sender_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"default_sender_id"+"}", url.PathEscape(parameterValueToString(r.defaultSenderId, "defaultSenderId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.updateDefaultSenderRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v DefaultSenderError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
